<template name="buyAgent">
<div id="content">
	<div class="des">
		<div class="icon">
			<img src="/images/index/index_icon_2.png" alt="">
		</div>
		<div class="tag">
			<p>财务代理套餐</p>
			<p>¥ 79元/月</p>
		</div>
	</div>

	<div class="dist-content">
		<div class="piece">
		  <div class="content">
			<div class="key">1.选择套餐</div>
			<div class="field" id="name">
				<ul>
					<li>零申报套餐</li>
					<li>普通行业套餐</li>
					<li>特殊行业套餐</li>
				</ul>
			</div>
		  </div><br>
		  <p>根据年收入与凭证量的不同分为179、379、579三种套餐</p>
		</div>
		<div class="piece">
		  <div class="content">
			<div class="key">2.选择年收入</div>
			<div class="field" id="annualIncome">
				<ul>
					<li>年收入≤100万</li>
					<li>年收入101-499万</li>
					<li>年收入≥500万</li>
				</ul>
			</div>
		  </div>
		</div>
		<div class="piece">
		  <div class="content">
			<div class="key">3.选择凭证量</div>
			<div class="field" id="certiNum">
				<ul>
					<li>年收入≤100万</li>
					<li>年收入101-499万</li>
					<li>年收入≥500万</li>
				</ul>
			</div>
		  </div>
		</div>
	</div>
	
	<div class="buy-box">
		<ul>
			<li>
				<p>财务代理(普通行业套餐)</p>
				<span style="color: #999999">应付金额：</span><span id="price">¥ 500.00</span>
			</li>
			<li>
				<button class="btn">立即购买</button>
			</li>
		</ul>
	</div>
	
</div>
</template>