<template name="products">
  <div class="PostList has-ui-menu main-container">
    <div class="main-title">
      <span></span>{{title}}
    </div>
    <div>
      <ul class="postList">
        {{#each items}}
        <li class="postbox">
          <div>
            <a href="/product/{{baseType}}?name={{name}}">
              <div class="box">
                <div class="img-container">
                  <img src="{{_img name}}" alt="">
                </div>
                <div class="title">
                  <a href="#">{{name}}</a>
                </div>
                <div class="price">&yen;{{price}}</div>
              </div>
            </a>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{> ui_menu }}
</template>