<template name="products">
    <style>
    body {
        background-color: #f5f5f5;
    }
    </style>
    <div class="index has-ui-menu">
<!--
        <div class="cover-img" style="margin-bottom:15px">
            <img src="/images/banner.jpg?v=wechat" alt="">
        </div>
-->
        <div class="board gallery" style="background-image:url(/images/product/reg_bg.jpg);margin-bottom:15px;">
          <div class="cover-center">
            <div class="cover-img">
              <img src="{{productsDes.img}}" alt="">
            </div>
            <div class="cover-title">{{productsDes.title}}</div>
            <div class="cover-subtitle">{{productsDes.subTitle}}</div>
          </div>
        </div>        
        {{#each items}}
          <div class="root-module">
              <a href="/product/{{baseType}}?name={{name}}">
                <div class="content">
                    <div class="photo-frame">
                        <img src="{{_img name}}" alt="">
                    </div>
                    <div class="segement">
                        <div class="title">
                            {{name}}
                        </div>
                        <div class="des">{{_des name}}</div>
                    </div>
                    <div class="icon-right-container">
                        &yen;{{price}}
                    </div>
                </div>
                <!--安置活动标签-->
                <div class="triangle-right">
                </div>
              </a>
          </div>
        {{/each}}
        {{> ui_menu }}
    </div>
</template>
