<template name="xiaobaidingzhi">
<div id="xbdz-content">
	<div class="des">
		<div class="icon">
			<img src="/images/index/index_icon_2.png" alt="">
		</div>
		<div class="tag">
			<p>小白定制服务</p>
			<p>¥ 2000元起</p>
		</div>
	</div>

	<div class="dist-content">
		<div class="piece">
		  <div class="content">
			<div class="key">1.选择服务</div>
			<div class="field" id="service">
				<ul>
					<li>项目预算</li>
					<li>财务分析</li>
					<li>项目决算</li>
					<li>财税筹划</li>
					<li>专项资质申报</li>
				</ul>
			</div>
		  </div>
		</div>
	</div>
	
	<div class="buy-box">
		<ul>
			<li>
				<p>小白定制服务</p>
				<span style="color: #999999">应付金额：</span><span id="price">¥ 500.00</span>
			</li>
			<li>
				<button class="btn">立即购买</button>
			</li>
		</ul>
	</div>
	
</div>
</template>