<template name="xiaobaitaocao">
<div id="xb-content">
	<div class="des">
		<div class="icon">
			<img src="/images/index/index_icon_2.png" alt="">
		</div>
		<div class="tag">
			<p>小白特殊套餐</p>
			<p>¥ 79元/月</p>
		</div>
	</div>

	<div class="dist-content">
		<div class="piece">
		  <div class="content">
			<div class="key">1.选择套餐</div>
			<div class="field" id="service">
				<ul>
					<li>外勤</li>
					<li>代开发票</li>
				</ul>
			</div>
		  </div>
		</div>
		<div class="piece">
		  <div class="content">
			<div class="key">2.选择服务项目</div>
			<div class="field" id="items">
				<ul>
					<li>核税</li>
					<li>三方协议备案</li>
					<li>数字证书购买</li>
					<li>税控系统开通</li>
					<li>购买发票</li>
					<li>代开发票</li>
				</ul>
			</div>
		  </div>
		</div>
		<div class="piece">
		  <div class="content">
			<div class="key">3.选择区域</div>
			<div class="field" id="area">
				<ul>
					<li>市区</li>
					<li>郊县</li>
				</ul>
			</div>
		  </div>
		</div>
		<div class="piece">
		  <div class="content">
			<div class="key">4.选择次数</div>
			<div class="field" id="times">
				<input type="text" />
			</div>
		  </div>
		</div>

	</div>
	
	<div class="buy-box">
		<ul>
			<li>
				<p>小白特殊套餐(外勤)</p>
				<span style="color: #999999">应付金额：</span><span id="price">¥ 500.00</span>
			</li>
			<li>
				<button class="btn">立即购买</button>
			</li>
		</ul>
	</div>
	
</div>
</template>