<template name="mList">
<style>
body {
 background-color: #f5f5f5; 
}
</style>
  <div class="index has-ui-menu">
   
    <div class="cover-img" style="margin-bottom:15px">
      <img src="/images/banner.jpg?v=wechat" alt="">
    </div>

    <div class="root-module">
      <div class="content">
          <div class="photo-frame">
            <img src="/images/list/r1.png" alt="">
          </div>
          <div class="segement">
            <div class="title">
              移动互联网公司注册
            </div>
            <div class="des">推荐APP开发、智能硬件等互联网类公司</div>
          </div>
          <div class="icon-right-container">
             &yen;9999
          </div>                  
      </div>
      <!--安置活动标签-->
      <div class="triangle-right">
      </div>
    </div>   
    {{> ui_menu }}         
  </div>
</template>