<template name="activity">
 
<div class="main main-container has-ui-control-bottom product">
  <div class="board gallery" style="background-image:url(/images/activity_bg.jpg)">
    <div class="cover-center">
      <div class="cover-img">
        <img src="/images/activity1_0.png" alt="">
      </div>
      <div class="cover-title">周年庆特别活动</div>
    </div>
  </div>
     
  <div class="index">
    <div class="root-module">
      <div class="content">
        <div class="photo-frame">
          <img src="/images/activity1_1.png" alt="">
        </div>
        <div class="segement">
          <div class="title">
             周年庆特别活动
          </div>
        </div>
        <div class="icon-right-container">
          &yen;3000
        </div>
      </div>
      <!--安置活动标签-->
      <div class="triangle-right">
      </div>
    </div>
  </div>
         
  <div class="dist">
    <div class="section">
      <div class="ui-title">
        产品说明
      </div>
      <div class="ui-content">
        <div class="notify-box">
          <div class="list">
            <span class="map">
             ●
            </span> 本次活动为开业啦一周年特别活动。
          </div>
        </div>
      </div>
    </div>  
      
    <div class="section">
      <div class="ui-title">
        参加条件
      </div>
      <div class="ui-content">
        <div class="dist-list-box">
          <div class="list-container">
            <div class="list">
              <div class="pull-left">
                <span class="map">1</span> 本活动仅针对新用户
              </div>
            </div>
          </div>
          <div class="list-container">
            <div class="list">
              <div class="pull-left">
                <span class="map">2</span> 服务地区仅限上海部分指定区域
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
       
    <div class="section activity">
      <div class="ui-title">
        活动说明
      </div>
      <div class="ui-content">
        <div class="dist-list-box">
          <div class="list-container">
            <div class="list">
              <div class="pull-left">
                <span class="map">1</span> 预交3000元，体验一年开业啦的服务，合同到期后3000元全部返还
              </div>
            </div>
          </div>
          <div class="list-container">
            <div class="list">
              <div class="pull-left">
                <span class="map">2</span> 免费享受注册公司和一年的代理记账服务,仅限100名，送完为止
              </div>
            </div>
          </div>  
          <div class="list-container">
            <div class="list">
              <div class="pull-left">
                <span class="map">2</span> 注册公司＋财物代理一年＋不限量记账服务包＋核税＋年度公示＋会算清缴 ,仅限100名，送完为止
              </div>
            </div>
          </div>           
                  
        </div>
      </div>
    </div>       
        
    <div class="section">
        <div class="ui-content auto-img">
            <img src="/images/activity_banner.jpg" alt="">
        </div>
    </div>
          
  </div>
  {{> controlBox}}
</div>
</template>