<template name="shopcart_controlBox">
  <div class="ui control-box">
    <div class="box">
     <div>
      <div>共<span class="hightlight">1</span>件</div>
      <div>
        <span class="key">价格</span>
        <span class="hightlight">&yen;299</span>      
      </div>       
     </div>
    </div>
    <div class="box middle">
     <a href="/">
      继续购物 
     </a>      
    </div>
    <div class="box submit-box">
      <a href="{{pathFor route='trade'}}">结算</a>
    </div>
  </div>
</template>