<template name="shopcart">
  <div class="shopcart main-container has-ui-control-bottom">
    <div class="module">
      <div class="content">
        <div class="left-segement">
          <div class="photo-frame">

          </div>
          <div class="tag">
            <div class="title main">互联网</div>
            <div class="title">小企人事</div>
            <div class="ui label">地区：一念之间</div>
            <div class="price">&yen;800</div>
          </div>
        </div>
        <div class="right-segement">
          delete icon
        </div>
      </div>
    </div>
    <div class="module">
      <div class="content">
        <div class="left-segement">
          <div class="photo-frame">

          </div>
          <div class="tag">
            <div class="title main">互联网</div>
            <div class="title">小企人事</div>
            <div class="ui label">地区：一念之间</div>
            <div class="price">&yen;800</div>
          </div>
        </div>
        <div class="right-segement">
          delete icon
        </div>
      </div>
    </div>    
    {{> shopcart_controlBox}}
  </div>
</template>