<template name="shopcart">
  {{#if list}}
    {{#with list}}
      {{> shopcart_content}}
    {{/with}}
  {{else}}
    {{> emptyTemplate}}
  {{/if}}
</template>

<template name="shopcart_content">
  <div class="shopcart main-container has-ui-control-bottom">    
    {{#each info}}
      <div class="module">
        <div class="content">
          <div class="left-segement">
            <div class="photo-frame">
              <img src="http://fpoimg.com/100x100" alt="">
            </div>
            <div class="tag">
              <div class="title main">{{title}}</div>
              <!-- <div class="title">{{subtitle}}</div> -->
              {{#each ext}}
                <div class="ui label">{{this}}</div>
              {{/each}}
              <div class="price">&yen;{{payment}}</div>
            </div>
          </div>
          <div class="right-segement">
            <i class="trash icon outline" id="{{id}}"></i>
          </div>
        </div>
      </div>
    {{/each}} 
    {{> shopcart_controlBox}}
  </div>  
</template>


<template name="emptyTemplate">
  <div class="main-container has-ui-menu emptyTemplate">
    <div class="text-center">
      <div>
        <div class="photo">
          <img src="/images/shopcart_empty.png" alt="">
        </div>
        <div class="des">
          <p>您的购物车是空的</p>
          <p>赶紧逛逛吧！</p>
        </div>
        <div class="get">
           <div>
            <a href="/">
             <button class="ui btn-default ui-default" type="button">随便逛逛</button>              
            </a>
           </div>
        </div>
      </div>
    </div>
    {{> ui_menu}}
  </div>
</template>