<template name="shopcart">
  {{#if empty}}
    {{> emptyTemplate}}
  {{else}}
    {{> shopcart_content}}
  {{/if}}
</template>

<template name="shopcart_content">
  <div class="shopcart main-container has-ui-control-bottom">
    <div class="module">
      <div class="content">
        <div class="left-segement">
          <div class="photo-frame">

          </div>
          <div class="tag">
            <div class="title main">互联网</div>
            <div class="title">小企人事</div>
            <div class="ui label">地区：一念之间</div>
            <div class="price">&yen;800</div>
          </div>
        </div>
        <div class="right-segement">
          <i class="trash icon outline"></i>
        </div>
      </div>
    </div>
    <div class="module">
      <div class="content">
        <div class="left-segement">
          <div class="photo-frame">

          </div>
          <div class="tag">
            <div class="title main">互联网</div>
            <div class="title">小企人事</div>
            <div class="ui label">地区：一念之间</div>
            <div class="price">&yen;800</div>
          </div>
        </div>
        <div class="right-segement">
          <i class="trash icon outline"></i>
        </div>
      </div>
    </div>    
    {{> shopcart_controlBox}}
  </div>  
</template>


<template name="emptyTemplate">
  <div class="main-container has-ui-menu emptyTemplate">
    <div class="text-center">
      <div>
        <div class="photo">
          <img src="/images/shopcart_empty.png" alt="">
        </div>
        <div class="des">
          <p>您的购物车是空的</p>
          <p>赶紧逛逛吧！</p>
        </div>
        <div class="get">
           <div>
            <a href="/">
             <button class="ui btn-default ui-default" type="button">随便逛逛</button>              
            </a>
           </div>
        </div>
      </div>
    </div>
    {{> ui_menu}}
  </div>
</template>