<template name="orderProcess">
  <div class="process main-container">
   <div class="container">
      <div class="ui-tab">
        <div class="left-tab">
          <a href="/orderDetail">订单详情</a>      
        </div>
        <div class="right-tab">
          <a href="/orderProcess">订单进度</a>
        </div>
      </div>
      <div class="separator">        
      </div>
      <div class="box-container">
        <div class="piece done">
          <div class="fiuld first">
            <div class="line"></div>
            <div class="dot"></div>
          </div>
          <div class="content">
            <span class="key">提交资料</span>2015.6.20
          </div>
        </div>
        <div class="piece">
          <div class="fiuld">
            <div class="line">
            </div>
            <div class="dot"></div>            
          </div>
          <div class="content">
            <span class="key">核名</span>
          </div>
        </div>
        <div class="piece">
          <div class="fiuld">
            <div class="line">
            </div>
            <div class="dot"></div>            
          </div>
          <div class="content">
            <div class="key">工商材料股东签字确认</div>
          </div>
        </div>
        <div class="piece">
          <div class="fiuld">
            <div class="line">
            </div>
            <div class="dot"></div>            
          </div>
          <div class="content">
            <div class="key">工商登记</div>
          </div>
        </div>
        <div class="piece">
          <div class="fiuld end">
            <div class="line"></div>
            <div class="dot"></div>            
          </div>
          <div class="content">
            <div class="key">领取企业信用代码证</div>
          </div>
        </div>
      </div>
           
   </div>
  </div>
</template>