<template name="orderDetail">
 <div class="control-header">
    <div class="icon-left">
      <i class="angle left icon"></i>
   </div>   
    <div class="txt">
      我的订单
    </div>
 </div>
  <div class="startup main-container has-ui-menu">     
    <div class="module">
      <div class="content cover">
        <div class="icon-left">
          <i class="marker icon"></i>
        </div>
        <div class="region-container">
         <a href="/addressList">
          <div>
            <div class="piece box">
              <div class="left">
                <span class="key">收货人：收货人</span>
              </div>
              <div class="left">
                <span class="key">手机号：15000000000</span>
              </div>
            </div>
            <div class="piece">
              <span class="key">
                收货地址：
              </span>
            </div>
            <div class="region-content">
              <span class="field">
              三条区三条路三条街三条门
              三条区三条路三条街三条门
              </span>              
            </div>
          </div>
         </a>
        </div>
        

      </div>
    </div>
    <a href="/orderProcess">
    <div class="module">
      <div class="content">
        <div class="region-container">
          <div>
            <div class="piece key">您的资料已提交，正在核名</div>
            <div class="piece">2011-11-11 11:11</div>
          </div>
        </div>        
        <div class="icon-right">
          <i class="angle right icon"></i>
        </div>        
      </div>
    </div>
    </a>
    <div class="module">
      <div class="content">
        <div class="photo"></div>
        <div class="info">
          <div class="title">互联网公司注册</div>
          <div class="region">地区:虹口</div>
        </div>
        <div class="price">&yen;1000</div>
      </div>
    </div>
    
    <div class="module">
      <div class="content">
        <div class="single">
          公司注册资料详情
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="module">
      <div class="content">
        <div class="unit">
          <div class="piece main-title">
            支付信息
          </div>
          <div class="piece">
            <span class="key">订单编号：</span>
            <span class="field">111111</span>
          </div>
          <div class="piece">
            <span class="key">付款金额：</span>
            <span class="field">111111</span>
          </div>          
          <div class="piece">
            <span class="key">付款时间：</span>
            <span class="field">111111</span>
          </div>
          <div class="piece">
            <span class="key">已完成付款</span>
          </div>                                
        </div>
      </div>
    </div>
    <div class="module">
      <div class="content">
        <div class="single">优惠：</div>
      </div>
    </div>

    <div class="module">
      <div class="content center">
        <div class="single">合计:
          <span class="hightlight">
           &yen;1000
         </span>
        </div>
      </div>
    </div>
    {{> ui_menu }} 
  </div>  
</template>