<template name="orderList">
  <div class="localmarket main-container has-ui-menu">
    {{#each orders}}
      <div class="module">
        <div class="main-title">订单编号：{{orderId}}</div>
        <div class="content">
          <div class="photo photo-frame">
            <img src="http://fpoimg.com/100x100" alt="">
          </div>
          <div class="info">
            <div class="name">{{title}}</div>
            {{#each ext}}
              <div class="region">{{this}}</div>
            {{/each}}
          </div>
          <div class="price">&yen;{{payment}}</div>
        </div>
        <div class="master">
            {{#if payed}}
              <div class="btn-box">
                  <a href="/orderDetail?orderid={{orderId}}">
                    <button type="button" class="btn-primary">查看详情</button>            
                  </a>
              </div>
              {{#if uploadInfo orderId}}
                <div class="btn-box">
                  <a href="/companyInfo?orderid={{orderId}}">
                    <button type="button" class="btn-default">提交资料</button>            
                  </a>
                </div> 
              {{/if}}
              
            {{else}}
              <div class="btn-box">
                <a href="＃">
                  <button type="button" class="btn-default">付款</button>
                </a>
              </div>
            {{/if}}
        </div>
      </div>
    {{/each}}  
    {{> ui_menu }}    
  </div>
</template>
