<template name="orderList">
  <div class="localmarket main-container has-ui-menu">
    <div class="module">
      <div class="main-title">订单编号：130008000</div>
      <div class="content">
        <div class="photo"></div>
        <div class="info">
          <div class="name">互联网公司注册</div>
          <div class="region">地区虹口</div>
        </div>
        <div class="price">&yen;1000</div>
      </div>
      <div class="master">
        <div class="btn-box">
          <button type="button" class="btn-default">付款</button>
        </div>
        <div class="btn-box">
          <button type="button" class="btn-primary">提交资料</button>
        </div>
        <div class="btn-box">
          <button type="button" class="btn-primary">详情</button>
        </div>
      </div>
      <div class="ui menu">
        <ul>
          <li>
            <a href="#">首页</a>
          </li>
          <li>
            <a href="#">个人中心</a>
          </li>
          <li>
            <a href="#">我的订单</a>
          </li>
          <li>
            <a href="#">工具</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- module -->
    <div class="module">
      <div class="main-title">订单编号：130008000</div>
      <div class="content">
        <div class="photo"></div>
        <div class="info">
          <div class="name">互联网公司注册</div>
          <div class="region">地区虹口</div>
        </div>
        <div class="price">&yen;1000</div>
      </div>
      <div class="master">
        <div class="btn-box">
          <button type="button" class="btn-default">付款</button>
        </div>
        <div class="btn-box">
          <button type="button" class="btn-primary">提交资料</button>
        </div>
        <div class="btn-box">
          <button type="button" class="btn-primary">详情</button>
        </div>
      </div>
      {{> ui_menu }}
    </div>
    <!--/ module -->    
  </div>
</template>
