<template name="orderDescription">
 <div class="control-header">
    <div class="icon-left">
      <i class="angle left icon"></i>
   </div>   
    <div class="txt">
      资料详情
    </div>
 </div>
 <div class="form main-container has-ui-menu">
  <div class="module">
    <div class="content">
      <div class="single">
        行业
        <div class="pull-right">
         管理类－>企业管理
        </div>
      </div>
    </div>
  </div>
  <div class="module">
    <div class="content">
      <div class="single">
        字号
        <div class="pull-right">
         开业啦
        </div>
      </div>
    </div>
  </div>
  <div class="module">
    <div class="content">
      <div class="single">
        备选字号
        <div class="pull-right">
            <div class="link">10</div> <i class="angle right icon"></i>
        </div>
      </div>
    </div>
  </div>  
  <div class="module">
    <div class="content">
      <div class="single">
        公司属性
        <div class="pull-right">
            有限责任公司
        </div>
      </div>
    </div>
  </div> 
  <div class="module">
    <div class="content">
      <div class="single">
       注册资本（万）
        <div class="pull-right">
            100
        </div>
      </div>
    </div>
  </div>
  
  <div class="module oGroup">
    <div class="content block border">
      <div class="single">股东</div>
    </div>
    <div class="content">
      <div class="single">
        路人甲
        <div class="pull-right">
            <span class="link">查看详情</span><i class="angle right icon"></i>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="single">
        路人乙
        <div class="pull-right">
            <span class="link">查看详情</span><i class="angle right icon"></i>
        </div>
      </div>
    </div>    
  </div>
    
  <div class="module group">
    <div class="content block">
       法人
        <div class="pull-right">
            100
        </div>    
    </div>
    <div class="content block">    
       身份证
        <div class="pull-right">
            100
        </div>   
    </div>
  </div>
           
  <div class="module group">
    <div class="content block">
       监事
        <div class="pull-right">
            100
        </div>    
    </div>
    <div class="content block">    
       身份证
        <div class="pull-right">
            100
        </div>   
    </div>
  </div>     
           
  <div class="module group">
    <div class="content block">
       财务负责人
        <div class="pull-right">
            100
        </div>    
    </div>
    <div class="content block">    
       手机号
        <div class="pull-right">
            100
        </div>   
    </div>
    <div class="content block">    
       邮箱
        <div class="pull-right">
            100
        </div>   
    </div>    
  </div>                        
       
  <div class="module group">
    <div class="content block">
       企业联络人
        <div class="pull-right">
            100
        </div>    
    </div>
    <div class="content block">    
       手机号
        <div class="pull-right">
            100
        </div>   
    </div>
    <div class="content block">    
       邮箱
        <div class="pull-right">
            100
        </div>   
    </div>  
    <div class="content block">    
       QQ
        <div class="pull-right">
            100
        </div>   
    </div>        
  </div>  
   {{> ui_menu }}                 
 </div>

</template>