<template name="orderDescription">
 {{#control_nav}}
   资料详情
 {{/control_nav}}
 <div class="form main-container has-ui-menu">
  <div class="module">
    <div class="content">
      <div class="single">
        行业
        <div class="pull-right">
         {{industryBig}} -- {{industrySmall}}
        </div>
      </div>
    </div>
  </div>
  <div class="module">
    <div class="content">
      <div class="single">
        字号
        <div class="pull-right">
         {{companyName.mainName}}
        </div>
      </div>
    </div>
  </div>
  <div class="module" id="alt">
    <div class="content">
      <div class="single">
        备选字号
        <div class="pull-right collapse">
            <div class="link">{{alertNameCount companyName}}</div> 
            {{#if alertNameCount companyName}}
              <i class="angle right icon"></i>
            {{/if}}
        </div>
      </div>
    </div>
    <div class="content clearfix" id="altBox">
      {{#if alertNameCount companyName}}
        <div class="box">{{companyName.alternativeName1}}</div>
        <div class="box">{{companyName.alternativeName2}}</div>
        <div class="box">{{companyName.alternativeName3}}</div>
        <div class="box">{{companyName.alternativeName4}}</div>
        <div class="box">{{companyName.alternativeName5}}</div>
      {{/if}}
    </div>
  </div>  
  <div class="module">
    <div class="content">
      <div class="single">
        公司属性
        <div class="pull-right">
            {{companyType}}
        </div>
      </div>
    </div>
  </div> 
  <div class="module">
    <div class="content">
      <div class="single">
       注册资本（万）
        <div class="pull-right">
            {{companyMoney}}
        </div>
      </div>
    </div>
  </div>
  
  <div class="module oGroup">
    <div class="content block border">
      <div class="single">股东</div>
    </div>
    {{#each holders}}
      <div class="content piece" holderId="{{holderId}}" orderId="{{orderId}}">
        <div class="single">
          {{holderName}}
          <div class="pull-right">
              <span class="link">查看详情</span><i class="angle right icon"></i>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
    
  <div class="module group">
    <div class="content block">
       法人
        <div class="pull-right">
            {{legalPerson.legalPersonName}}
        </div>    
    </div>
    <div class="content block">    
       身份证
        <div class="pull-right">
            {{legalPerson.legalPersonId}}
        </div>   
    </div>
  </div>
           
  <div class="module group">
    <div class="content block">
       监事
        <div class="pull-right">
            {{supervisor.supervisorName}}
        </div>    
    </div>
    <div class="content block">    
       身份证
        <div class="pull-right">
            {{supervisor.supervisorId}}
        </div>   
    </div>
  </div>     
           
  <div class="module group">
    <div class="content block">
       财务负责人
        <div class="pull-right">
            {{contractor.financialStaff.financialStaffName}}
        </div>    
    </div>
    <div class="content block">    
       身份证
        <div class="pull-right">
            {{contractor.financialStaff.financialStaffId}}
        </div>   
    </div>
    <div class="content block">    
       手机号
        <div class="pull-right">
            {{contractor.financialStaff.financialStaffPhone}}
        </div>   
    </div>
    <div class="content block">    
       邮箱
        <div class="pull-right">
            {{contractor.financialStaff.financialStaffEmail}}
        </div>   
    </div>    
  </div>                        
       
  <div class="module group">
    <div class="content block">
       企业联络人
        <div class="pull-right">
            {{contractor.liaisons.liaisonsName}}
        </div>    
    </div>
    <div class="content block">    
       身份证
        <div class="pull-right">
            {{contractor.liaisons.liaisonsId}}
        </div>   
    </div>
    <div class="content block">    
       手机号
        <div class="pull-right">
            {{contractor.liaisons.liaisonsPhone}}
        </div>   
    </div>
    <div class="content block">    
       邮箱
        <div class="pull-right">
            {{contractor.liaisons.liaisonsEmail}}
        </div>   
    </div>     
  </div>

  <div class="module group">
    <div class="content block">
       资料对接人
        <div class="pull-right">
            {{consigner.consignerName}}
        </div>    
    </div>
    <div class="content block">    
       手机号
        <div class="pull-right">
            {{consigner.consignerPhone}}
        </div>   
    </div>
    <div class="content block">    
       邮箱
        <div class="pull-right">
            {{consigner.consignerEmail}}
        </div>   
    </div>  
    <div class="content block">    
       QQ
        <div class="pull-right">
            {{consigner.consignerQQ}}
        </div>   
    </div>        
  </div> 

   {{> ui_menu }}                 
 </div>

</template>