<template name="orderDetail">
 {{#control_nav}}
   我的订单
 {{/control_nav}}
  <div class="startup main-container has-ui-menu">     
    <div class="module">
      <div class="content cover">
        <div class="icon-left">
          <i class="marker icon"></i>
        </div>
        <div class="region-container">
         <a href="/addressList">
          <div>
            <div class="piece box">
              <div class="left">
                <span class="key">收货人：{{addressInfo.receiver}}</span>
              </div>
              <div class="left">
                <span class="key">手机号：{{addressInfo.phone}}</span>
              </div>
            </div>
            <div class="piece">
              <span class="key">
                收货地址：
              </span>
            </div>
            <div class="region-content">
              <span class="field">
              {{addressInfo.address}}
              </span>              
            </div>
          </div>
         </a>
        </div>
        

      </div>
    </div>
    {{#if isRegComp}}
      <a href="/orderProcess/{{orderId}}">
        <div class="module">
          <div class="content">
            <div class="region-container">
              <div>
                <div class="piece key">{{lastStatus isRegComp}}</div>
                <div class="piece">{{lastUpdateTime isRegComp}}</div>
              </div>
            </div>        
            <div class="icon-right">
              <i class="angle right icon"></i>
            </div>        
          </div>
        </div>
      </a>
    {{/if}}
    {{#each payList}}
      <div class="module">
        <div class="content">
          <div class="photo photo-frame">
            <img src="{{_img title}}" alt="">
          </div>
          <div class="info">
            <div class="title">{{title}}</div>
            {{#each ext}}
              <div class="region">{{this}}</div>
            {{/each}}
          </div>
          <div class="price">&yen;{{payment}}</div>
        </div>
      </div>
    {{/each}}

    {{#if isRegComp}}
      {{#if userConfirmed}}
        <a href="/orderDesc/{{orderId}}">
          <div class="module">
            <div class="content">
              <div class="single">
                公司注册资料详情
                <span class="pull-right">
                  <i class="angle right icon"></i>
                </span>
              </div>
            </div>
          </div>
        </a>
      {{/if}}
    {{/if}}

    <div class="module">
      <div class="content">
        <div class="unit">
          <div class="piece main-title">
            支付信息
          </div>
          <div class="piece">
            <span class="key">订单编号：</span>
            <span class="field">{{orderId}}</span>
          </div>
          <div class="piece">
            <span class="key">付款金额：</span>
            <span class="field">{{moneyAmount}}</span>
          </div>          
          <div class="piece">
            <span class="key">付款时间：</span>
            <span class="field">{{payedTimStr}}</span>
          </div>
          <div class="piece">
            <span class="key">
            {{#if payed}}
              已完成付款
            {{else}}
              未付款
            {{/if}}
            </span>
          </div>                                
        </div>
      </div>
    </div>

    <div class="module">
      <div class="content">
        <div class="single">
          发票
          <span class="pull-right default-right">
            {{#if invoice}}
            需要
            {{else}}
            不需要
            {{/if}}           
          </span>        
        </div>
      </div>
    </div>

    <div class="module">
      <div class="content center">
        <div class="single">合计:
          <span class="hightlight">
           &yen;{{moneyAmount}}
         </span>
        </div>
      </div>
    </div>
    {{> ui_menu }} 
  </div>  
</template>