<template name="orderProcess"> 
 {{#control_nav}}
   办理进度
 {{/control_nav}} 
  <div class="process main-container has-ui-menu">
   <div class="container">
      <div class="separator">        
      </div>
      <div class="box-container">
        {{#each $mapped processList}}
            <div class="piece {{#if doing $index}}done{{/if}}">
              <div class="fiuld">
                <div class="line"></div>
                <div class="dot"></div>
              </div>
              <div class="content">
               <div>
                <div class="key">{{name}}</div>
                
                <div class="time">{{updateTime $index}}</div>             
               </div>
              </div>
            </div>
        {{/each}}
<!--         <div class="piece done">
          <div class="fiuld">
            <div class="line"></div>
            <div class="dot"></div>
          </div>
          <div class="content">
           <div>
            <div class="key">提交资料</div>
            <div class="time">2015.6.20</div>             
           </div>
          </div>
        </div>

        <div class="piece">
          <div class="fiuld">
            <div class="line">
            </div>
            <div class="dot"></div>            
          </div>
          <div class="content">
           <div>
            <div class="key">核名</div>
            <div class="time">2015.6.20</div>             
           </div>
          </div>
        </div>
        <div class="piece">
          <div class="fiuld">
            <div class="line">
            </div>
            <div class="dot"></div>            
          </div>
          <div class="content">
           <div>
             <div class="key">工商材料股东签字确认</div>
             <div class="time">2015.6.20</div>
           </div>
          </div>
        </div>
        <div class="piece">
          <div class="fiuld">
            <div class="line">
            </div>
            <div class="dot"></div>            
          </div>
          <div class="content">
           <div>
             <div class="key">工商登记</div>
             <div class="time">2015.6.20</div>
           </div>           
          </div>
        </div>
        <div class="piece">
          <div class="fiuld">
            <div class="line"></div>
            <div class="dot"></div>            
          </div>
          <div class="content">
           <div>
             <div class="key">领取企业信用代码证</div>
             <div class="time">2015.6.20</div>
           </div>            
          </div>
        </div> -->
      </div>           
   </div>
   {{> ui_menu }} 
  </div>
</template>