<template name="orderDescription">
 <div class="PostList text-center">
   <div class="main-title">
   选择行业
   </div>
 </div> 
  <div class="module">
    <div class="content">
      <span class="key">注册资金（万元）: </span>
      <input type="text" placeholder="请输入注册资金">
    </div>
  </div>
  <div class="module">
    <div class="content">
      <div class="single">
        新增股东信息
        <div class="pull-right">
          <i class="add square icon"></i>
        </div>
      </div>
    </div>
  </div>  
</template>