<template name="shockholder">
 <div class="control-header">
    <div class="icon-left">
      <i class="angle left icon"></i>
   </div>   
    <div class="txt">
      股东
    </div>
 </div>
 
 <div class="form shockholder main-container">   
    <div class="module group">
      <div class="content">
        <span class="key">姓名</span>
        <span class="dot"></span>
        <span>王志明</span>
      </div>
      <div class="content">
        <span class="key">证件号</span>
        <span class="dot"></span>
        <span>ddd</span>
      </div>
      <div class="content">
          <span class="key">户籍地址</span>
          <span class="dot"></span>
          <div class="box">
            <div>
              户籍地址户籍地址户籍地址户籍地址户籍地址户籍地址户籍地址户籍地址户籍地址户籍地址户籍地址
            </div>
          </div>
      </div> 
      <div class="content">
        <span class="key">占股比例</span>
        <span class="dot"></span>
        <span>ddd</span>
      </div>  
      <div class="content">
        <span class="key">出资额</span>
        <span class="dot"></span>
        <span>11万元</span>
      </div>                
    </div>   
 </div>
</template>