<!-- 许可证购买页面 -->
<template name="permitAgent">
  <div id="content">
    <div class="des">
      <div class="icon">
        <img src="/images/index/index_icon_4.png" alt="">
      </div>
      <div class="tag">
        <p>许可证类型</p>
        <!-- <p>¥ 100元/月</p> -->
      </div>
    </div>
    <div class="dist-content">
      <div class="piece">
        <div class="content">
        <div class="key">1、许可证类型</div>
        <div class="field" id="name">
          <ul>
            {{#each $mapped subTypes}}
              <li class="{{#if $first}}selected{{/if}}" value="{{name}}">{{label}}</li>
            {{/each}}
          </ul>
        </div>
        </div>
      </div>
      <div class="piece">
        <div class="content">
        <div class="key">2、选择区域</div>
        <div class="field" id="period">
          <ul>
            {{#each $mapped zones}}
              <li class="{{#if $first}}selected{{/if}}" value="{{zone}}">{{zone}}</li>
            {{/each}}
          </ul>
        </div>
        </div>
      </div>
    </div>

  </div>
  <div class="buy-box">
      <ul>
        <li>
          <p>许可证({{typeLabel}})</p>
          <span style="color: #999999">应付金额：</span><span id="price">¥ {{payment}}</span>
        </li>
        <li>
          <button class="btn submit">立即购买</button>
        </li>
      </ul>
    </div>
</template>
