@form-line-height:42px;
.form {
  input[type="text"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      box-sizing: border-box;
      border: none;
      background: none;
      border-radius: 0 0 0 0;
      box-shadow: none;
      padding: 0px;
      margin: 0;
      height: @form-line-height;
      color: #000;
      font-size: 16px;
      font-family: inherit;
      outline: 0;    
      &:focus {
        box-shadow: 0;
      }    
  } 
  
  .box-container {
    >div {
     .list(); 
    }
  }
  .content {
    line-height: @form-line-height;
    vertical-align: middle;    
  }
  .key {
    height: @form-line-height;        
    display: inline-block;
    min-width: 68px;
    .margin-right-rem(15px); 
  }    
  .dot {
    .margin-right-rem(15px); 
    .margin-left-rem(5px);
    &:before {
      display: inline-block;
      content: ":";      
    }
  }
  .module {
    .content.helper {
       width: 100%;
       .make-row();
       display: block;  
       .pull-right {
        line-height: @form-line-height;
        vertical-align: middle;
       }
      i.help.circle.icon {
        color: @deep-gray;
        font-size: 2em;
      }
    }
  }
  .content.divide {
     border-bottom:solid 1px #ddd; 
  }
  .list-container {
     //padding-top: 0 !important; 
     //padding-bottom: 0 !important;     
  }
  .list-container.divide,.list-container.content {
     line-height: 28px; 
  }
  
  .list-group-horizonal {
      display: block;
      margin: 0 auto;
  }
  .list-group-item {
    position: relative;
    display: block;
    .padding-left-rem(15px);
    //.padding-right-rem(15px);
    .padding-right-rem(60px);
    .padding-top-rem(5px);
    .padding-bottom-rem(5px);
    background-color: #fff;
    border: 1px solid #ddd;
    max-width: 480px;
    width: 100%;
    font-size: 15px;
    .checkbox {
      position: absolute;
      right: 15px;
      top: 0;
    }
  }  
  .list-group-horizonal>.list-group-item {
//     float: left;
//     margin-bottom: -1px;
//     margin-right: -1px;
  }
  .icon-left {
    float: left;
    text-align: left;
    font-size: 24px;
    color:@deep-gray;
    .margin-right-rem(10px);
    .selected {
     color: @default-green; 
    }    
  }
  .adjust  {
    .make-row();
    .padding-rem(15px);
    .ui.btn-default {
      border-radius: 4px;
      -webkit-border-radius:4px;
    }
  }
  .module.group {
    .content {
      .justify-padding();
      border-bottom: dashed 1px #ccc;
      &:last-child {
       border-bottom: none; 
      }
    }
  }
  
  .content.block {
    display: block;
  }
  
  .content.border {
   border-bottom:solid 1px #ddd !important; 
  }
  .content .link {
    color: @default-gray;
    font-size: 14px;
    display: block;
    float: left;
  }
  
  .module.oGroup {
    .content {
      border-bottom: dashed 1px #ccc;
      &:last-child {
       border: none; 
      }
    }
  }
  
}


.form.manager_segement {
  .key {
   width: 68px;
   .o-ui-justify(@form-line-height);  
   margin-right: 0; 
  }
}
.form.others_segement,.form.contractor_segement,.form.shockholder {
  .key {
   width: 90px; 
   .o-ui-justify(@form-line-height);
   margin-right: 0;
  }
}
.form.shockholder {
   .box {
      display: -webkit-box;
      -webkit-box-flex: 1;   
   }
}

.form #altBox {
  display: block;
  display: none;
  border-top: solid 1px #ddd;
  .box {
   min-width: 50%;
   float: left;
  }
}
/*列表*/
.ui.list {
  .ui.control-box.single {
    padding: 0 !important;
    height: auto !important;
    .ui.btn-default {
      display: block;
      width: 100%;
      .height(80px);
    }
  }
  .content.text-center {
    .margin-top-rem(40px);
    font-weight: bold;
    color: @default-gray;
  }
}