* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
html,body {
  .full-page();
  font-family: @default-base-font-family;
  //font-size: @normel-font-size;
  font-size: 12px;
}
a {
 &:link {
   color: inherit;
 }
 &:visited {
   color: inherit;      
 }
}
body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #eee;
}

.main-title {
  font-size: @large-font-size !important;
}
.form-control {
  .form-control();
}
button {
  &:focus {
    outline: 0;
    box-shadow: 0;
  }
}

ul {
  margin: 0;
  padding: 0;
  .no-bullets();
}
.segement {
  .make-row();  
}
.pull-left {
  .pull-left();
}
.pull-right {
  .pull-right();
}
.text-center {
  .text-center();
}
.hightlight {
  color:@default-hightlight-color;
}

.justify-padding() {
  .padding-top-rem(6px);
  .padding-bottom-rem(6px);
  .padding-left-rem(20px);
  .padding-right-rem(20px);
}

.slim-padding() {
  .padding-top-rem(12px);
  .padding-bottom-rem(12px);
  .padding-left-rem(20px);
  .padding-right-rem(20px);
}

.widen-padding() {
  .padding-rem(20px);
  .padding-top-rem(16px);
  .padding-bottom-rem(16px);  
}

.ui.btn-default {
  .bridge();
  .text-center();
  .no-border();
  //.slim-padding();
  .widen-padding();
}
.ui.btn-primary {
  background-color: #fff;
  border: solid 1px @default-black;  
  .text-center();  
  //.slim-padding();  
  .widen-padding();
}

.ui.btn-default.control {
  width: 40%;
  min-width: 120px;
  max-width: 480px;
  border:solid 1px @default-background-color;
}
.ui.btn-primary.control {
  width: 40%;
  min-width: 120px;
  max-width: 480px;
}

.shadow-object {
  visibility:hidden;
}

.list() {
  .margin-bottom-rem(15px);
  .make-row();
}
.main-container {
  min-height: 100%;
  position: relative;
  .padding-top-rem(15px);
  .padding-left-rem(15px);
  .padding-right-rem(15px);
  font-size:@normel-font-size;
}
body>div {
  font-size:@normel-font-size;  
}
.has-ui-control-bottom {
  .padding-bottom-rem(80px);  
}
.ui.control-box {
  .text-center();
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  .height(80px);
//  .padding-top-rem(20px);
//  .padding-bottom-rem(20px);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
   -webkit-box-pack:center;
   -webkit-box-align:center;  
  .box {
   display: -webkit-box;
   -webkit-box-flex:1;
   -webkit-box-pack:center;
   -webkit-box-align:center;
   height: 100%;
   position: relative;
   cursor: pointer;
   //font-size: @label-font-size;
   .ui.sumbit {
     width: 100% !important;
     display: block;
     font-size: @huge-font-size;
//     .padding-left-rem(10px);
//     .padding-right-rem(10px);
   }
  }
  .submit-box {
     .bridge();  
     font-size: @huge-font-size;    
  }
  .home-box {
     border-right: solid 1px #ddd;  
  }
  .icon-box {
     color: @default-gray; 
     .padding-left-rem(10px);
     .padding-right-rem(10px); 
      font-size: @label-font-size;    
  }
  .icon {
     width: 26px;
     height: 26px;
     background-image: url(/images/ui-icon.png?version=1);    
     background-repeat: no-repeat;
     margin:0 !important;    
  }
  .icon.ui-home {
    
  }
  .icon.ui-shopcart {
    background-position: -104px 0;  
  }
  
}

/* widget:ui-menu */
@ui-menu-height:100px;
.has-ui-menu {
  .padding-bottom-rem(@ui-menu-height);  
}
.ui.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  .height(@ui-menu-height);
  .padding-top-rem(10px);
  .padding-bottom-rem(10px);
  box-shadow: 0 0 5px #ccc;
  background: #fff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;  
  ul {
    .make-row();
    width: 100%;
  }
  ul li {
    width: 25%;
    .make-column();
    //.height(40px);
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-size: @label-font-size;
    >a {
     display: block;
     width: 100%;
     height: 100%;
    }
    .icon {
       width: 26px;
       height: 26px;
       background-image: url(/images/ui-icon.png?version=1);    
       background-repeat: no-repeat;
       margin:0 !important;           
    }
    .icon.ui-home {
      
    }
    .icon.ui-usercenter {
      background-position: -26px 0;
    }
    .icon.ui-localmarket {
      background-position: -52px 0;
    }
    .icon.ui-tools {
      background-position: -78px 0;
    }
  }
  ul li:last-child {
    border-right:0; 
  }
  ul li.active {
    color:@default-background-color;
    .icon.ui-home {
      background-position: 0 -26px;
    }
    .icon.ui-usercenter {
      background-position: -26px -26px;
    }
    .icon.ui-localmarket {
      background-position: -52px -26px;
    }
    .icon.ui-tools {
      background-position: -78px -26px;
    }         
  }
}
/*module*/
.module {
  background-color: #fff;
  .margin-bottom-rem(10px);
  .main-title {
    .justify-padding();
    .line-height(42px);
    vertical-align: middle;
    border-bottom: solid 1px #ddd;
    font-size: 18px !important;
  }
  .content {
    .padding-rem(15px);
    display: -webkit-box;
    >.photo {
      .width(80px);
      .height(80px);
      background-color: #ccc;
      .margin-right-rem(10px);
    }
    >.info,>.price {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;
    }
    >.price {
      -webkit-box-align: end;
      padding-right: 5px;
    }
    >.info {
      -webkit-box-flex: 3;
      .title {
        font-weight: bold;
        .margin-bottom-rem(10px);
      }
    }
    >.price {
      -webkit-box-flex: 1;
      text-align: center;
      color: @default-hightlight-color;
    }

    .single {
      .height(36px);
      .line-height(36px);
      font-weight: bold;
      vertical-align: middle;
      width: 100%;
      i.icon {
        font-size: 24px;
        font-weight: normal;
        color: @deep-gray;
      }
      i.check.circle.icon {
        color: @deep-gray;
        .margin-right-rem(15px);
      }
    }
  }
  .content.center {
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .content.cover {
    width: 100%;
  }
}

.main-message {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 20px;
}

.key {
    .margin-right-rem(10px);  
    font-weight: bold;
}

.done i.check.circle.icon{
  color: @default-green;
}

.icon-right i.icon {
  margin:0; 
}

.control-header {
  background-color: #fff;
  .height(72px);
  .line-height(72px);
  vertical-align: middle;
  .padding-left-rem(10px);
  .padding-right-rem(10px);
  font-size:@large-font-size;
  text-align: center;
  position: relative;
  .icon-left {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    i.icon {
    vertical-align: top;
    }
  }
}

.clearfix {
  .make-row(); 
}

i.icon.default {
  font-size: 24px;
  font-weight: normal;
  color: @deep-gray;
}
.default-right {
  font-weight: normal;
  color: @deep-gray;  
}

/*label-switch*/
/*
<label class="label-switch">
  <input type="checkbox">
  <div class="checkbox"></div>
</label>
*/
.label-switch {
  display: inline-block;
  vertical-align: middle;
  width: 52px;
  border-radius: 16px;
  box-sizing: border-box;
  height: 32px;
  position: relative;
  cursor: pointer;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  border: solid 1px #eee;
}
.label-switch .checkbox {
  width: 52px;
  border-radius: 16px;
  box-sizing: border-box;
  height: 32px;
//  background: #e5e5e5;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.label-switch .checkbox:before {
  content: ' ';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 48px;
  border-radius: 16px;
  box-sizing: border-box;
  height: 28px;
  background: #fff;
  z-index: 1;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.label-switch .checkbox:after {
  content: ' ';
  height: 28px;
  width: 28px;
  border-radius: 28px;
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 2px;
  left: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.label-switch input[type="checkbox"] {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  background: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.label-switch input[type="checkbox"]:checked + .checkbox {
  background: #4cd964;
}
.label-switch input[type="checkbox"]:checked + .checkbox:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.label-switch input[type="checkbox"]:checked + .checkbox:after {
  -webkit-transform: translateX(22px);
  transform: translateX(22px);
}

.switch-outlook {
  margin-right: 15px; 
}

.cover-img {
  line-height: 0;
  img {    
    width: 100%;
    height: auto; 
  }
}

.img-container {
  line-height: 0;  
}

.photo-frame {
  img {
   height: 100%;
   width: 100%;
  }
}