.bridge-gray {
  background-color: #f5f5f5; 
}
.index {
  header {
    .make-row();
    background: #fff;
    overflow: hidden;
    .height(60px);
    >.wrapper {
     .webkit-box-inline-center(); 
      height: 100%;
      img {
       height: 100%;
       width: auto;
      }
    }
  }
  .utf-nav-left {
    //float: left;
    display: -webkit-box;
    -webkit-box-pack:start;
    -webkit-box-flex:1;
    height: 100%;
    >a {
      display: block;
      width: 100%;
      height: 100%;
    }
    img {
      padding-left: 20px;
      .padding-top-rem(10px);
      .padding-bottom-rem(10px);
    }
  }
  .utf-nav-right {
    //float: right;
    display: -webkit-box;
    -webkit-box-pack:end; 
    -webkit-box-flex:1;
    height: 100%;
  }
  .main-root-container {
    //.padding-rem(28px); 
    background-color: #fff;
  }
  ul.main_root {
   .make-row();
   //.margin-bottom-rem(28px);
   margin-top: -1px;   
   overflow: hidden;
    
   >li {
   .make-column();
   width: 33.33333333333333%;
   border: solid 1px #dededf;
   //margin-right: -1px;
   margin-bottom: -1px; 
   border-left-color: #fff;
   text-align: center;
     >div {
      display: inline-block;
      cursor: pointer;
     }
     //.margin-bottom-rem(28px);
     .padding-top-rem(28px);
     .padding-bottom-rem(28px);
     .icon {
      margin: 0 auto;
      margin-bottom: 8px;
      .height(100px);
      .width(100px);    
      img {
       width: 100%;
       height: 100%;
      }
     }
     .title {
       font-weight: 700;
     }
   }  
  }
  .root-module {
    .box-shadow;
    @root-module-padding:15px;
    @photo-px-size:90px;       
    @segement-padding-left:unit((unit(@root-module-padding)+unit(@photo-px-size)),px);
    margin-bottom: 15px;
    position: relative;
    background-color: #fff;
    .clearfix();
     //border-bottom: solid 2px #ccc; 
    .photo-frame {
      margin-top: 12px;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     //border:solid 1px #acacac;
     .height(@photo-px-size);
     .width(@photo-px-size);
     .margin-right-rem(@root-module-padding); 
     position: absolute;
     z-index: 20;      
    }
    .bar {
      .padding-left-rem(@root-module-padding);   
      .padding-right-rem(@root-module-padding); 
      line-height: 48px;
      vertical-align: middle;
     }
     .content {
      .padding-rem(@root-module-padding);
       //padding-right: 0;     
      .make-row();
       position: relative;
     }    
    //@right-container-width:60px;
    .segement {
      padding-top: 5px;
      position: relative;
      .padding-left-rem(@segement-padding-left);
      //箭头距离
      padding-right: 14px;
      float: left;
      //padding-right: @right-container-width;
      .min-height(@photo-px-size);
      display: -webkit-box;
      -webkit-box-orient:vertical;
      -webkit-box-pack: justify;
      -webkit-box-align: start;      
      //.padding-top-rem(15px);
      //.padding-bottom-rem(15px);
    }
    .title {
      margin-bottom: 7px;
      font-weight: 700;
      font-size: @middle-font-size;
    }    
    .des {
      font-size: 15px; 
      line-height: 18px;
      vertical-align: top;
      color: @font-gray;
      margin-bottom: 4px; 
    }
    .icon-right-container {
      position: absolute;
//      width: 27px;
      //min-width: @right-container-width;
      text-align: left;
      height: 100%;
      top: 0;
      right: 0;
      .padding-right-rem(@root-module-padding);
      display: -webkit-box;    
      -webkit-box-align: center;
      -webkit-box-pack: end;   
      color: @default-background-color;
    }
    
    .angle-right {
     background: url(/images/index/arrow.png);
     width: 14px;
     height: 27px;
     display: inline-block;
     font-size: 0;
    }
//    @triangle-direction:top right;
//    @triangle-size:@huge-size;
//    @triangle-color:@default-background-color;
//    @triangle-origin:corner;
    .triangle-right {
//     .triangle(@triangle-direction, @triangle-size, @triangle-color, @triangle-origin);
      position: absolute;
      right: 0;
      top: 0;
      color: #fff;
    }
  }
  .label-item {
    .make-row();
//    .margin-top-rem(15px);
    >.item {
     .make-column(); 
     .padding-rem(7px);
     border: solid 1px #acacac;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     margin-right: 5px;
     //font-size: 10px;
     font-size: 13px;  
     color: @font-gray;
     //margin-bottom: 5px;
    }
  }  
  .bar {
     .make-row();
     border-bottom: solid 1px #ddd;
     .title {
      float: left;
      margin-bottom: 0;
     }
     .price {
      float: right;
      font-weight: 700;
      color: @default-background-color;
     }
  }
} 
.index {
  .dot {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 3px;
    font-size: 10px;
    font-weight: normal;
    width: 15px;
    height: 15px;
    line-height: 1.0em;
    text-align: center;
    padding: 2px;
    background-color: #d9534f;
    display: inline;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
  }
  .utf-nav-right a {
    display: inline-block;
    height: 100%;
    position: relative;
  }
} 

.index.main {
    .PostList .main-title {
    .margin-top-rem(10px);
    .margin-bottom-rem(10px);
    .padding-left-rem(15px);
    font-size: 12px !important;
    font-weight: 600;
    color: #666;
    i {
      display: inline-block;
      .width(32px);
      .height(32px);
      margin-right: 6px;
      .background-size-cover();
      background-repeat: no-repeat;
      background-position: center center;
      vertical-align: bottom;
      vertical-align: text-bottom;
    }
    i.icon-1 {
      background-image: url(../images/index/title_1.png);
    }
    i.icon-2 {
      background-image: url(../images/index/title_2.png);
    }
    i.icon-3 {
      background-image: url(../images/index/title_3.png);
    }
  } 
  
  .label-item {
    .make-row();
//    .margin-top-rem(15px);
    >.item {
      border: none;
      color: @font-gray;
      padding-left: 0;      
    }
  }  
  
  
  .root-module { 
    @root-module-padding:15px;
    @photo-px-size:90px;       
    @segement-padding-left:unit((unit(@root-module-padding)+unit(@photo-px-size)),px);
    margin-bottom: 15px;
    position: relative;
    background-color: #fff;
    .clearfix();
     //border-bottom: solid 2px #ccc;  
    //@right-container-width:60px;
    .segement {
      position: relative;
      .padding-left-rem(@segement-padding-left);
      //箭头距离
      //padding-right: 14px;
      padding-right: 68px;         
      float: left;
    }
    .des {
      font-size: 16px; 
      line-height: 18px;
      vertical-align: top;
      color: #000;
      font-weight: 600;
      margin-bottom: 4px; 
    }
    .icon-right-container {
      padding-right: 0;
      .changeline{
        p{
          margin-top: -10px;
          font-size: 20px;
          font-family: "Microsoft YaHei","微软雅黑";
          letter-spacing: 2px;
        }  
      }
      >div {        
      padding: 0;
      min-width: 48px;
      width: 68px;
      height: 71px;
      font-size: 20px;
      font-family:"Microsoft YaHei","微软雅黑";
      letter-spacing: 3px;
      text-align: center;
      border-left: solid 1px #ccc;
      @this-padding:unit((unit(@root-module-padding)*2),px);
      .padding-top-rem(@this-padding);
      .padding-bottom-rem(@this-padding);
       
      }
    }
    
  }
}

// @6pQuery: ~"(max-width: 375px)";

// @media screen, @6pQuery {
//     .icon-right-container {
//       >div {        
//       font-size: 22px !important;
//       height: 71px;
//       }
//     }
// }

@media screen and (max-width: 376px) {

}


.copyright{
  text-align: center;
  img{
    width: 50%;
  }
}

.box-shadow{
box-shadow: 0px 5px 5px #d0d1d1;
-moz-box-shadow: 0px 5px 5px #d0d1d1;
-webkit-box-shadow: 0px 5px 5px #d0d1d1;
}