ul>li{
	list-style:none;
}
/*css插件*/
.border-left{
	border-left: 1px solid rgb(214, 214, 214);
}
.no-bottom-border{
	border-bottom-width:0;
}
.container{
	padding: 0;
	margin: 0;
	background-color: #FFFEFF;
	font-size: 1em;
}

/*页面初始化时样式*/

#financial_base {
	display: block;
}

#xiaobai_special {
	display: none;
}

#xiaobai_customization {
	display: none;
}

/*财代基础套餐*/
.pic{
	height: 300px;
	background-color: #007AFF;
	border-bottom: 1px soild #000000;
}
.pic img{
	width: 100%;
	height: 100%;	
}

.title-product{
	background-color:#FFFFFF;
    text-align: center; 
    display: -webkit-flex;     
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    /*for  uc*/
    display: box;
    display: -webkit-box;  
    -webkit-box-align: center;
	border-bottom: 1px solid rgb(214, 214, 214);
}
.title-product>div{
	flex: 1;     
    -webkit-flex: 1;          
    flex: 1;         
    /* for uc */
    -webkit-box-flex: 1;      
    -moz-box-flex: 1;         
    -ms-flex: 1;       
}
.product-detail{
	font-size: 18px;
	font-weight: 600;
	padding: 10px;
	color: #000000;
}
.product-detail p{
	color:rgb(150, 150, 150);
	cursor: default;	
}
.product-detail p:hover{
	color:rgb(228, 58, 61);	
}

.product-detail p:active{
	color:rgb(228, 58, 61);	
}

#product-detail-p1{
	color:rgb(228, 58, 61);	
}

.act{
	color:rgb(228, 58, 61);	
}

.product-content{
	padding: 10px;
	border-bottom: 1px solid rgb(112, 112, 112);
}

.product-content:last-child{
	border-bottom-width: 0;
}

.product-intro{
	padding: 10px;
}

.service{
	text-align: center;
	font-size:18px;
	font-weight:900;
	color:rgb(34, 34, 34);
	margin-top: 30px;
	margin-bottom: 20px;
}
.service-left{
	text-align: left;
	font-size:18px;
	font-weight:900;
	color:rgb(34, 34, 34);
	margin-top: 30px;
	margin-bottom: 20px;
}

.service-intro{
	margin-top:10px;
	margin-bottom: 20px;
	text-align: justify;
	font-size:16px;
	font-weight:400;
	color:rgb(112, 112, 112);
}
.product-content .cost{
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	color: #FF0000;
	margin-top: 20px;
	margin-bottom: 20px;
}
.product-content .content-detail{
	font-size: 16px;
	font-weight:400;
	font-size: 18px;
	color: rgb(112, 112, 112);
	text-align: center;
	margin-bottom: 10px;
}

/*小白特殊服务*/
.product-table{
	border:solid rgb(112, 112, 112);
	border-width:1px 0px 0px 1px;
	color:rgb(151, 151, 151);
	width: 100%;
	margin-bottom:20px;
	table-layout:fixed;
	word-wrap:break-word;
}
.product-table th{
	font-size:18px;
	padding: 10px;
	border:solid rgb(112, 112, 112);
	border-width:0px 1px 1px 0px; 
}
.product-table td{
	text-align:center;
	font-size:16px;
	padding: 10px;
	border:solid rgb(112, 112, 112);
	border-width:0px 1px 1px 0px; 
}
.product-table td>p{
	text-align:justify;
}
/*响应式布局*/
@media only screen and (min-width: 100px) and (max-width: 640px) {
	.pic{
		height: 200px;
	}
}
