/*css插件*/
.product-detail.border-left{
	border-left: 1px solid rgb(214, 214, 214);
}
.no-bottom-border{
	border-bottom-width:0;
}
.finance-container{
	padding: 0;
	margin: 0;
	background-color: #FFFEFF;
	font-size: 14px;
}

/*财代基础套餐*/
.pic{
	height: 300px;
	background-color: #007AFF;
	border-bottom: 1px soild #000000;
}
.pic img{
	width: 100%;
	height: 100%;
}

.title-product{
	background-color:#FFFFFF;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    /*for  uc*/
    display: box;
    display: -webkit-box;
    -webkit-box-align: center;
	border-bottom: 1px solid rgb(214, 214, 214);
}
.title-product>div{
	flex: 1;
    -webkit-flex: 1;
    flex: 1;
    /* for uc */
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
}
.product-detail {
	font-weight: 600;
	padding: 10px;
	color: #000000;
}
.product-detail p {
	font-size: 15px;
	color: rgb(113, 112, 113);
	cursor: default;
}
.product-detail p:hover{
	color:rgb(228, 58, 61);
}

.product-detail p:active{
	color:rgb(228, 58, 61);
}

.product-detail.selected p {
	color:rgb(228, 58, 61);
}

.finance-container {
	display: none;
}

.finance-container  p {
	margin: 0;
	display: inline-block;
}

.finance-container.selected {
	display: block;
}


#product-detail-p1{
	color:rgb(228, 58, 61);
}

.act{
	color:rgb(228, 58, 61);
}

.product-content{
	padding: 15px 13px;
	border-bottom: 1px solid #dcdcdc;
}

.product-content:last-child{
	border-bottom-width: 0;
}

.product-intro{
	padding: 10px;
}

.service{
	font-weight:900;
	color:rgb(34, 34, 34);
	margin-top: 3px !important;
	margin-bottom: 20px;
}
.service-left{
	text-align: left;
	font-weight:900;
	color:rgb(34, 34, 34);
	margin-top: 30px;
	margin-bottom: 20px;
}

.service-intro{
	margin-top:13px !important;
	margin-bottom: 20px;
	text-align: justify;
	font-weight:400;
	color:rgb(112, 112, 112);
}
.product-content .cost{
	font-size: 15px;
	font-weight: 500;
	color: rgb(228, 57, 60);
	float: right;
	border:1px solid red;
	border-radius: 2px;
}
.product-content .content-detail{
	font-size: 12px;
	font-weight:400;
	color: rgb(112, 112, 112);
	text-align: left;
	margin-bottom: 15px;
	margin-top: 15px;
}
.product-content  .tb-title {
	margin-bottom: 18px;
}
/*小白特殊服务*/
.product-table{
	border:solid rgb(112, 112, 112);
	border-width:1px 0px 0px 1px;
	color:rgb(113, 111, 111);
	width: 100%;
	margin-bottom:20px;
	table-layout:fixed;
	word-wrap:break-word;
}
.product-table th{
	padding: 10px;
	border:solid rgb(112, 112, 112);
	border-width:0px 1px 1px 0px;
}

.product-table td{
	text-align:center;
	padding: 10px;
	border:solid rgb(112, 112, 112);
	border-width:0px 1px 1px 0px;
}
.product-table  .price {
	color: rgb(228, 57, 60);
	font-weight: 500;
}
.product-table .tb-content{
	text-align: left !important;
}
.product-table td>p{
	text-align:justify;
}
/*响应式布局*/
@media only screen and (min-width: 100px) and (max-width: 640px) {
	.pic{
		height: 200px;
	}
}

@media (max-width: 370px) {
	.finance-container{
		font-size:12px;
	}
	.product-detail p {
		font-size: 13px;
	}
}





