@default-li-height:77px;
@permit-li-height:88px;
@change-li-height:134px;


.board.gallery {
  color: #fff;
//  background-color: #ccc;
  .height(280px);
  .webkit-box-inline-center();
  .background-size-cover();
  background-position: center center;
  text-align: center;
  .cover-img {
    margin-bottom: 0px;
    .height(100px);
    .width(100px);
    display: inline-block;
  }
  .cover-title {
    font-size: @huge-font-size;
    margin-bottom: 2px;
  }
  .cover-subtitle {
    font-size: @middle-font-size;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.product {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}
.reg-container{
  background:white;
  height: 100%;
  margin-bottom: -22px;
  .banner {
    width: 100%;
    height: 180px;
  }
  .content {
    font-family: "PingFangSC";
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
    .title {
      span {
        font-size: 14px;
      }
    }
    .intro {
      margin: 10px 0;
      span {
        font-size: 12px;
      }
    }
    .intro-table {
      text-align: center;
      font-size: 12px;
      tr {
        height: 65px;
        &:first-child {
          height: 40px;
          td {
            padding: 8px 0;
          }
        }
        td {
          &:first-child{
            width:18%; 
            text-align: center !important;
          }
          &:nth-child(2) {
            width: 22%;
            text-align: center !important;
          }
          width: 30%;
          text-align: left;
          border: 1px solid gray;
          padding: 3px 8px;
        }
      }
    }
  }
}

.product .root-module .segement {
  padding-right: 80px;
}

//文案
.dist {
  background: transparent;
  .section {
    // .margin-bottom-rem(20px);
    background-color: #fff;
    .ui-title {
      span{
          border-left: 3px solid;
          margin-right: 8px;
      }
      .height(60px);
      .line-height(60px);
      vertical-align: middle;
      // border-bottom: solid 1px #d7d7d7;
      .padding-left-rem(15px);
      font-size: @middle-font-size;
      font-family: @default-base-font-family;
    }
    .intro{
      .padding-left-rem(15px);
      .padding-right-rem(15px);
      p{
        margin-top: 0px;
        color: @default-text-color;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-right: 10px;
        letter-spacing: 2px;
        text-align: center;
        font-size: 12px;
      }
    }
    .ui-info-register{
      .padding-inline;
      display: -webkit-flex; /* Safari */
      display: flex;
      justify-content:space-around;
      padding-left: 0px;
      padding-right: 0px;
      >div{
        padding-top: 3px;
        padding-left:10px;
        padding-right:10px;
        // &:first-child{
        //   padding-left: 22px !important;
        // }
        text-align: center;
        width: 25%;
        img{
          // width: 82px;
          height: 21px;
        }  
        color: #fff;
        font-size: @normel-font-size;
        font-weight: 600;
      }
    }
    .line-sharpe-tmp{
      background-position: 0px -1px;
      background-size: 100% 130%;
      height: 15px;
    }
    .line-sharpe{
      background: url('/images/icon/linesharpe.png') no-repeat;
      .line-sharpe-tmp;
    }
    .line-sharpe1{
      background: url('/images/icon/linesharpe1.png') no-repeat;
      .line-sharpe-tmp;
    }
    .ui-info{
      .padding-inline;
      display: -webkit-flex; /* Safari */
      display: flex;
      // for uc
      display: -webkit-box;  
      // justify-content:space-around;
      -webkit-box-align: center;

      padding-left: 0px;
      padding-right: 0px;
      >div{
        padding-left:10px;
        padding-right:10px;
        &:first-child{
          padding-left: 22px !important;
        }
        &:nth-child(2){
          padding-left: 43px !important;
        }
        img{
          // width: 82px;
          height: 21px;
        }
        -webkit-flex: 1;          
        flex: 1;         
        /* for uc */
        -webkit-box-flex: 1;      
        -moz-box-flex: 1;         
        -ms-flex: 1;   
        color: #fff;
        font-size: @normel-font-size;
        font-weight: 600;
      }
    }
    .ui-detail{
      .dist-detail-box{
        display: flex;
        display: -webkit-flex;
        background-color: #f0f0f0;
        margin-top: -14px;
        margin-left: 7px;
        margin-right: 6px;
        ul{
          display: inline-block;
          box-sizing:border-box;
          -moz-box-sizing:border-box; /* Firefox */ 
          -webkit-box-sizing:border-box;
          border-right: 2px solid #fff;
          padding: 2px 8px; 
          &:first-child{
              width: 18%;
              text-align: center;
              font-size: @default-font-size;
              font-weight: 600;
              >div{
                text-align: center;
              }
          }
          &:nth-child(2){
              width: 32%;
              font-size: 12px;
              color: @default-text-color;
          }
          &:nth-child(3){
              text-align: center;
              width: 23%;
              font-size: @default-font-size;
              color: @default-hightlight-color;
              >div{text-align: center;}
          }
          &:last-child{
            width: 27%;
            border-right-width: 0;
            font-size: 12px;
            color: @default-text-color;
          }
          li{
            // min-width: 50px;
            // display: table-cell;
            // vertical-align: middle;
            height: @default-li-height;
            padding: 0px 0px;
            font-size: 12px;
            border-bottom: 1px solid #dddbd6;
            .table-cell{
              display: table-cell;
              vertical-align: middle;
              height: @default-li-height;
              width: @default-li-height * 2;
              text-align: center;
            }

            .table-cell-doubble{
              display: table-cell;
              vertical-align: middle;
              height: @default-li-height * 2;
              width: @default-li-height * 2;
              text-align: center;
            }
          }
        }
      }
      // 特殊许可证ul样式
      .permit{
        ul{
          &:first-child{
              width: 18%; 
          }
          &:nth-child(2){
              width: 39%;  
          }
          &:nth-child(3){  
              width: 23%;  
          }
          &:last-child{
            width: 20%;
           
          }
          li{
            height: @default-li-height;
          }
        }
      }
      //公司字号变更ul样式
      .change{
        ul{
          &:first-child{
              width: 33%; 
          }
          &:nth-child(2){
              width: 24%; 
          }
          &:nth-child(3){  
              width: 20%;  
          }
          &:last-child{
            width: 23%;
           
          }
          li{
            height: @change-li-height;
            .table-cell{
              height: @change-li-height;
              width: @change-li-height * 2;
            }
          }
        }
        @media (max-width:349px) {
            ul{
              li{
                height: @change-li-height + 45;
                .table-cell{
                  height: @change-li-height + 45;
                }
              }
            }
        }
      }
      .annotation{
        margin-left: 7px;
        margin-right: 6px;
        background-color: #f0f0f0;
        padding: 2px 12px;
        p{
          color: @default-text-color;
          letter-spacing: 2px;
          font-size: 12px;
        }
      }
    }
    .ui-content {
      .padding-rem(15px);
      padding-top: 0 !important;
    }
  }
  .section .notify-box {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    //background-color: #efefef;
    background-color: #F3F5F7;
    .list {
      border-bottom: solid 1px #d7d7d7;
      color: #666;
      .height(72px);
      .line-height(72px);
      overflow: hidden;
      .padding-left-rem(15px);
      font-size: 13px;
      &:last-child {
        border-bottom: 0;
      }
    }
    .map {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      text-align: center;
      line-height: 20px;
      vertical-align: middle !important;
      color: #fff;
      font-size: 13px;
      display: inline-block;
      background-color: #3C98E6;
      margin-right: 5px;
      vertical-align: 1px;
    }
  }
  .section .dist-list-box {
    .list-container {
      .margin-bottom-rem(15px);
      background-color: #F3F5F7;
      border-radius: 6px;
      -webkit-border-radius: 6px;      
    }
    .list {
      color: #666;
      .height(72px);
      .line-height(72px);
      overflow: hidden;
      .padding-left-rem(15px);
      .padding-right-rem(15px);
      font-size: @label-font-size;
      .time {
        font-size: 12px;
        color: #999;
        .margin-right-rem(15px);
      }
      .ui-icon {
        display: inline-block;
        .height(32px);
        .width(32px);
        .background-size-contain();
        background-image: url(../images/product/up-arrow-box.png);
        background-repeat: no-repeat;
        vertical-align: middle;
      }    
    }
    .map {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        text-align: center;
        line-height: 20px;
        vertical-align: middle;
        color: #fff;
        font-size: 13px;
        display: inline-block;
        background-color: #E8423A;
        margin-right: 5px;
        vertical-align: 1px;
    }
    .map.last {
      background-color: #3C98E6;
    }
    .spread-content {
        display: none;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;  
        vertical-align: middle;
        .padding-top-rem(20px);
        .padding-bottom-rem(20px);
        .padding-left-rem(25px);
        .padding-right-rem(25px);
        border-top: solid 1px #d7d7d7;
        .cover-img {
         .margin-top-rem(15px); 
          border-top: solid 1px #d7d7d7;
          .margin-left-rem(-25px);
          .margin-right-rem(-25px); 
          .padding-rem(20px);  
          padding-bottom: 0;
          line-height: normal;        
          .title {
           .margin-bottom-rem(10px); 
           color: #666;
           font-size: @label-font-size;
           display: inline-block;
           padding-left: 28px;
           padding-right: 28px;
           position: relative;
           line-height: 24px;
           vertical-align: middle;
           .icon {
            position: absolute;
            left: 0;
            top: 0;
            .background-size-contain();
            height: 24px;
            width: 24px;            
           }
           .icon1 {
            background-image: url(../images/product/get_icon_1.png);             
           }
           .icon2 {
            background-image: url(../images/product/get_icon_2.png);             
           }  
           .icon3 {
            background-image: url(../images/product/get_icon_3.png);             
           }    
           .icon4 {
            background-image: url(../images/product/get_icon_4.png);             
           }               
          }
          .photo {
           line-height: 0; 
          }
          .large {
            .margin-bottom-rem(20px);           
            //margin-left: -14px;
          }
          .large,.small {
            .make-row(); 
            text-align: center;
            margin-right: -28px;            
          }
          .large .cell {
            width: 50%;
            float: left;
            img {
              width: 48%;
              min-width: 60px;
              max-width: 120px;
            }
          }
          
          .small .cell {
           width: 33.33333333333333%;
           float: left;
            img {
              width: 48%;
              min-width: 64px;
              max-width: 128px;
            }            
          }
        }
        .spread-army {
          .line-height(24px);
          position: relative;
          &:before {
           content: '';
           display: inline-block;
           width: 10px;
           height: 10px;            
           border-radius:5px;
           -webkit-border-radius:5px;
           background-color: #666; 
           position: absolute;
           top: 3px;
           left: 0;
          }
          .text {
           color: #666;
           font-size: 13px;
           padding-left: 20px;
           vertical-align: middle;
           //min-height: 24px;
          }
        }
    }  
    .list-container.open {
      .list {     
        
      }
      .ui-icon {
        background-image: url(../images/product/down-arrow-box.png);
      }
      .spread-content {
        display: block; 
      }
    }
  }
  .section .promise-box {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #F3F5F7;    
    text-align: center;
    .padding-rem(32px);
    img {
      max-width: 100%;
    }
  }  
}

//帮助页
.dist.helper {
  .section .dist-list-box .list {
    .line-height(48px);
    .height(48px);
  }  
  
  .section .dist-list-box .spread-content  {
    .padding-rem(15px);
  }
  
  .spread-army {
    vertical-align: middle;
    position: relative;
    &:before {
     display: none !important;
    }
    .text {
     color: #666;
     font-size: 15px !important;
     padding-left: 0 !important;
     line-height: 22px;
      p {
        margin: 0;
        .margin-bottom-rem(15px);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }   
}

.padding-inline{
  padding-top: 18px;
  padding-bottom: 18px;
}


// new UI content
.section .dist-info-box{
    .list-container {
      border-bottom: 1px solid #b6b6b6;
      &:last-child{
        border-bottom-width: 0px;
      }
    }
    .list {
      color: #666;
      .height(72px);
      .line-height(72px);
      overflow: hidden;
      padding-right: 0px;
      padding-left: 0px;
      // .padding-left-rem(15px);
      // .padding-right-rem(15px);
      font-family: @default-heading-font-family;
      font-size: @label-font-size;
      display: flex;
      display: -webkit-flex; /* Safari */
      // for uc
      display: -webkit-box;  
      justify-content:space-around;
      -webkit-box-align: center;
      .list-content{
        &:first-child{
          padding-left: 20px;
          padding-right: 0px;
          width: 159px;
        }
        &:nth-child(2){
          padding-left: 9px;
          width: 94px;
        }
        &:last-child{
          // padding-left: 24px
        }
        padding-right: 7px;
        padding-left: 7px;
        -webkit-flex: 1;          
        flex: 1;         
        /* for uc */
        -webkit-box-flex: 1;      
        -moz-box-flex: 1;         
        -ms-flex: 1;   
      }
      .bankname {
        font-size: 12px;
        color: #000;
        font-weight: 600;
        // .margin-right-rem(6px);
      }
      .yearcost{
        font-size: 12px;
        color: #000;
        font-weight: 600;
      }
      .ui-icon {
        display: inline-block;
        height: 14px;
        width: 14px;
        .background-size-contain();
        background-image: url(../images/product/up-arrow-box.png);
        background-repeat: no-repeat;
        vertical-align: middle;
      }
      .ui-star{
        display: inline-block;
        height: 14px;
        width: 14px;
        .background-size-contain();
        background-image: url(../images/icon/starlight.png);
        background-repeat: no-repeat;
        vertical-align: middle;
      }
      .ui-star-gray{
        display: inline-block;
        height: 14px;
        width: 14px;
        .background-size-contain();
        background-image: url(../images/icon/starnolight.png);
        background-repeat: no-repeat;
        vertical-align: middle;
      }
    }
   
    .spread-content {
        display: none;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;  
        vertical-align: middle;
        text-align: center;
        background-color: #ebebeb;
        .padding-top-rem(25px);
        .padding-bottom-rem(25px);
        .padding-left-rem(25px);
        .padding-right-rem(25px);
        border-top: solid 1px #d7d7d7;
        .spread-army {
          .line-height(24px);
          position: relative;
          .text {
           color: #000;
           letter-spacing: 1px;
           font-size: 12px;
           font-family: @default-heading-font-family;
           font-weight: 600;
           vertical-align: middle;
           //min-height: 24px;
          }
        }
    }
    .list-container.open {
      .list {     
        
      }
      .ui-icon {
        background-image: url(../images/product/down-arrow-box.png);
      }
      .spread-content {
        display: block; 
      }
    }
}

@media (max-width:349px) {
  // new UI content
  .section .dist-info-box{
      .list-container {

      }
      .list {
        .list-content{
          .yearcost{
            line-height: 20px;
          }
          &:first-child{
            padding-left: 8px;
            padding-right: 0px;
            width: 159px;
          }
          &:nth-child(2){
            width: 54px;
            line-height: 10px;
            padding-left: 0px;
          }
          &:last-child{
            // padding-left: 24px
          }   
        }
      }
  }
  .ui-detail{
    .dist-detail-box{
      ul{
        li{
          height: @default-li-height + 13 !important;
        }
        .doubble-height{
          height: @default-li-height * 2 + 30 !important;
        }
      }
    }
  }
}

.purple{
  background-color: @deep-purple;
}
.border-purple{
  border-left-color: @deep-purple !important;
}
.yellow{
  background-color: @default-yellow;
}

.border-yellow{
  border-left-color: @default-yellow !important;
}

.pink{
  background-color: #e88391;
}

.border-pink{
  border-left-color:#e88391 !important;
}



.doubble-height{
  height: @default-li-height * 2 !important;
}

.line-reb{
  line-height: @default-li-height * 2 !important;
}

