.startup {
  .module {
    .key {
      .margin-right-rem(10px);      
    }
    .segement {
      .margin-bottom-rem(10px); 
      .pull-left {
       width: 50%;       
      }
    }    
    .region-container {
      display: -webkit-box; 
      -webkit-box-flex:1;      
    }
    .region-content {
      display: -webkit-box;
    }
    .icon-left {
      display: -webkit-box;
      text-align: left;
      font-size: 24px;
      color:@deep-gray;
      -webkit-box-pack: start;
      -webkit-box-align: start;      
    }    
    .icon-right {
      display: -webkit-box;
      text-align: right;
      font-size: 24px;
      color:@deep-gray;
      -webkit-box-pack: end;
      -webkit-box-align: center;      
    }
  }
  .piece {
    .padding-top-rem(10px); 
    .padding-bottom-rem(10px); 
  }  
  .piece.pull {    
     .make-row();
     .key,.field {
       .make-column(); 
     }
     ul>li {
      //.padding-top-rem(10px); 
      //.padding-bottom-rem(10px);        
     }
  }
  .content.box-body {    
    .key {
      display: inline-block;
      .line-height(36px);      
      vertical-align: middle;         
      .margin-right-rem(20px); 
      .width(120px);
      .ui-justify(36px);     
    }
    .field {
      .line-height(36px);      
      vertical-align: middle;        
    }
  }
}

.content.box-body {
    border-top: solid 1px @deep-gray;      
    display: none;
    .segement {
     border-bottom: solid 1px #ddd; 
    }
}  

/*支付*/
.get {
  .margin-top-rem(40px);
  text-align: center;
  >div {
    .margin-bottom-rem(20px);
  }
  button.ui.btn-default {
    width: 80%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
  }
  .ui-green {
    background-color: @default-green !important;
    color: #fff;
  }
  .ui-primary {
    background-color: #fff;
    color:@default-black;
  }
}

.get.offset {
  .margin-top-rem(20px);  
}

.success {
  .main-message {
    i.icon {
     color: @default-green; 
    }        
  }
  .main-title {
    border-bottom: solid 1px @deep-gray; 
  }
  .main-content {
    .widen-padding();
    >div {
      font-size: 18px;
     .list();
     .key {
       .margin-right-rem(15px);   
     }
    }
  }  
}

/*ui-tab*/
.ui-tab {
  display: -webkit-box;  
  .margin-bottom-rem(10px);
 .left-tab,.right-tab {
  -webkit-box-flex:1;
  text-align: center;
  background: #fff;
  font-weight: normal;
  font-size: @middle-font-size;
  .slim-padding();
   >a {
    display: block;
    width: 100%;
    height: 100%;
   }
 }
 .left-tab {
   .margin-right-rem(10px);
 }
}


