.startup {
  .unit {
    width: 100%; 
    .main-title {
     padding-left: 0; 
     .margin-bottom-rem(10px);
    }
  }
  .module {
    .key {
      .margin-right-rem(10px);      
    }
    .segement {
      .margin-bottom-rem(10px); 
      .pull-left {
       width: 50%;       
      }
    }        
    .region-container {
      display: -webkit-box; 
      -webkit-box-flex:1; 
      .box {
        //display: -webkit-box;
      }
      .left {
//        display: -webkit-box; 
//        -webkit-box-flex:1;        
        .key,.value {
         float: none; 
         .margin-bottom-rem(5px);
        }
      }
    }
    .region-content {
      display: -webkit-box;
      .field {
       .line-height(36px);
       vertical-align: middle;
      }
    }
    .icon-left {
      display: -webkit-box;
      text-align: left;
      font-size: 24px;
      color:@deep-gray;
      -webkit-box-pack: start;
      -webkit-box-align: start;      
    }    
    .icon-right {
      display: -webkit-box;
      text-align: right;
      font-size: 24px;
      color:@deep-gray;
      -webkit-box-pack: end;
      -webkit-box-align: center;      
    }
  }
  .piece {
    .padding-top-rem(5px); 
    .padding-bottom-rem(5px); 
  }  
  .piece {    
     .make-row();
     .key,.field,.dot {
      .make-column();
      .line-height(36px);      
      vertical-align: middle;            
     }
    
  }
  .content.box-body {    
    .key {    
      vertical-align: middle;         
      .width(120px);
      .ui-justify(36px);     
    }
    .field {
       ul li {
        .line-height(36px);      
        vertical-align: middle;   
        .margin-bottom-rem(5px);
       }
    }
    .dot {
      //.margin-left-rem(5px);
      .margin-right-rem(20px);       
    }
    
  }
}

.content.box-body {
    border-top: solid 1px @deep-gray;      
    display: none;
    .segement {
     border-bottom: solid 1px #ddd; 
       &:last-child {
        border-bottom:0;
       }
    }
}  

/*支付*/
.get {
  .margin-top-rem(40px);
  text-align: center;
  >div {
    .margin-bottom-rem(20px);
  }
  button.ui.btn-default {
    width: 80%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
  }
  .ui-green {
    background-color: @default-green !important;
    color: #fff;
  }
  .ui-primary {
    background-color: #fff;
    color:@default-black;
  }
}

.get.offset {
  .margin-top-rem(20px);  
}

.success {
  .main-message {
    i.icon {
     color: @default-green; 
    }        
  }
  .main-title {
    border-bottom: solid 1px @deep-gray; 
  }
  .main-content {
    .widen-padding();
    >div {
      font-size: 18px;
     .list();
     .key {
       .margin-right-rem(15px);   
     }
    }
  }  
}

/*ui-tab*/
.ui-tab {
  display: -webkit-box;  
  .margin-bottom-rem(10px);
 .left-tab,.right-tab {
  -webkit-box-flex:1;
  text-align: center;
  background: #fff;
  font-weight: normal;
  font-size: @middle-font-size;
  .slim-padding();
   >a {
    display: block;
    width: 100%;
    height: 100%;
   }
 }
 .left-tab {
   .margin-right-rem(10px);
 }
}


