<template name="paySuccess">
  <div class="success main-container">
   <div class="main-message">
     <i class="check circle icon"></i>订单支付成功   
   </div>
   <div class="module">
     <div class="main-title">您的支付信息</div>
     <div class="main-content">
       <div><span class="key">付款金额：</span><span class="hightlight">&yen;{{info.moneyAmount}}</span></div>
       <div><span class="key">订单号：</span>{{info.openid}}</div>
       <div><span class="key">支付方式：</span>{{style}}</div>
     </div>
   </div>
   <div class="get">
     <div>
       <button class="ui btn-default ui-primary" type="button" id='showOrder'>查看订单</button>
     </div>
     <!-- <div>
       <button class="ui btn-default ui-primary" type="button" id='editOrder'>立即填写资料</button>
     </div> -->
   </div>    
  </div>
</template>