<template name="trade">
  <div class="startup main-container">
    <div class="module" id="setAddress">
      <div class="content cover">
        <div class="icon-left">
          <i class="marker icon"></i>
        </div>
        <div class="region-container">
          <div>
            <div class="piece box">
              <div class="left">
                <span class="key">收货人：{{address.receiver}}</span>
              </div>
              <div class="left">
                <span class="key">手机号：{{address.phone}}</span>
              </div>
            </div>
            <div>
              <span class="key">
                收货地址：
              </span>
            </div>
            <div class="region-content">
              <span class="field">
              {{address.address}}
              </span>
            </div>
          </div>
        </div>
        <div class="icon-right">
          <i class="angle right icon" id='setAddress'></i>
        </div>

      </div>
    </div>

    {{#each payList}}
      <div class="module">
        <div class="content">
          <div class="photo photo-frame">
            <img src="{{_img}}" alt="">
          </div>
          <div class="info">
            <div class="title">{{title}}</div>
            {{#each ext}}
              <div class="region">{{this}}</div>
            {{/each}}
          </div>
          <div class="price">&yen;{{payment}}</div>
        </div>
      </div>
    {{/each}}

    <div class="module">
      <div class="content">
        <div class="single">是否需要发票：
        <div class="pull-right">
          <span class="switch-outlook">否</span>
          <label class="label-switch">
            <input type="checkbox" class="control switch">
            <div class="checkbox"></div>
          </label>
        </div>
        <!--
        Use:
        $('input[type="checkbox"]').prop("checked")
        -->

        <!--
           Delete
            <span class="hightlight">
              &yen;{{disc}}
            </span>
        -->
        </div>
      </div>
    </div>

    <div class="module">
      <div class="content center">
        <div class="single">合计:
          <span class="hightlight">
           &yen;{{allPayment}}
         </span>
        </div>
      </div>
    </div>

    <div class="get offset">
      {{#if isWechat}}
        <div>
          <button class="ui btn-default ui-green" type="button" id="wxbuy">微信支付</button>
        </div>
      {{/if}}
      <div>
        <button class="ui btn-default ui-primary" type="button" id="otherbuy">支付宝移动支付</button>
      </div>
    </div>
  </div>

  <!-- <script type="text/javascript" src="https://one.pingxx.com/lib/pingpp_one.js"></script> -->

  <script>
    var script=document.createElement('script');
    script.type='text/javascript';
    script.src='/js/pingpp.js';
    document.body.appendChild(script);

    var script=document.createElement('script');
    script.type='text/javascript';
    script.src='/pay/ap.js';
    document.body.appendChild(script);
  </script>
</template>
