<template name="trade">
  <div class="startup main-container">
    <div class="module" id="address">
      <div class="content cover">
        <div class="icon-left">
          <i class="marker icon"></i>
        </div>
        <div class="region-container">
          <div>
            <div class="piece box">
              <div class="left">
                <span class="key">收货人：{{address.receiver}}</span>
              </div>
              <div class="left">
                <span class="key">手机号：{{address.phone}}</span>
              </div>
            </div>
            <div>
              <span class="key">
                收货地址：
              </span>
            </div>
            <div class="region-content">
              <span class="field">
              {{address.address}}
              </span>              
            </div>
          </div>
        </div>
        <div class="icon-right">
          <i class="angle right icon" id='setAddress'></i>
        </div>

      </div>
    </div>
  
    {{#each payList}}
      <div class="module">
        <div class="content">
          <div class="photo"></div>
          <div class="info">
            <div class="title">{{subtitle}}</div>
            {{#each ext}}
              <div class="region">{{this}}</div>
            {{/each}}
          </div>
          <div class="price">&yen;{{payment}}</div>
        </div>
      </div>
    {{/each}}

<!--
    <div class="module">
     <a href="/companyInfo">
      <div class="content">
        <div class="single">
          资料详情
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>
        </div>
      </div>
     </a>
    </div>
-->

    <div class="module">
      <div class="content">
        <div class="single">优惠：
          <span class="hightlight">
            &yen;{{disc}}
          </span>
        </div>
      </div>
    </div>

    <div class="module">
      <div class="content center">
        <div class="single">合计:
          <span class="hightlight">
           &yen;{{allPayment}}
         </span>
        </div>
      </div>
    </div>

    <div class="get offset">
      <div>
        <button class="ui btn-default ui-green" type="button" id="wxbuy">微信支付</button>
      </div>
      <div>
        <button class="ui btn-default ui-primary" type="button">其他方法支付</button>
      </div>
    </div>

  </div>
</template>