<template name="index">
<style>
body {
  background-color: #f5f5f5;
}
</style>

 <!-- 新年通告 -->
 <!-- {{> notice_box }} -->

  <div class="index has-ui-menu">
    <header>
     <div class="wrapper">
        <div class="utf-nav-left">
          <img src="/images/index/index_logo.png" alt="">
        </div>
        <div class="utf-nav-right">
          <a href="/shopcart">
            {{#if shopCartNum}}
              <span class="dot">{{shopCartNum}}</span>
            {{/if}}
            <img src="/images/index/index_shopcart.png" alt="">
          </a>
        </div>
     </div>
    </header>
    <!-- banner图 -->
    {{> swipe_banners bannerImages=bannerImages}}

    <div class="main-root-container">
      <ul class="main_root">
        <li>
          <div>
            <div class="icon">
              <img src="/images/index/index_icon_1.png" alt="">
            </div>
            <div class="title">
              <a href="/products/registration">
                公司注册
              </a>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div class="icon">
              <img src="/images/index/index_icon_2.png" alt="">
            </div>
            <div class="title">
              <a href="/products/finance">
                财务代理
              </a>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div class="icon">
              <img src="/images/index/index_icon_6.png" alt="">
            </div>
            <div class="title">
              <a href="tel:4000663192">
                客服
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="PostList bridge-gray clearfix">
      <div class="main-title">
        <span></span> 精选产品
      </div>
    </div>
    <div class="root-module specialProduct" product="bank">
     <div class="bar">
       <div class="title">银行开户</div>
       <div class="price">&yen;300-500</div>
     </div>
     <div class="content">
        <div class="photo-frame">
          <!-- <img src="/images/index/index_list_1.png?v=1" alt=""> -->
          <img src="/images/product/get_icon_2.png" alt="">
        </div>
        <div class="segement">
          <div class="des">急速完成银行开户</div>
          <div class="label-item">
            <div class="item">银行合作更特惠</div>
          </div>
        </div>
        <div class="icon-right-container">
          <div class="angle-right"></div>
        </div>
     </div>
    </div>
    <div class="root-module specialProduct" product='finance'>
      <div class="bar">
            <div class="title">财务代理</div>
            <div class="price">&yen;{{productPrice "财务代理"}}</div>
      </div>
      <div class="content">
        <div class="photo-frame">
          <img src="/images/index/index_list_2.png" alt="">
        </div>
        <div class="segement">
          <div class="des">量贩式的财务外包服务</div>
          <div class="label-item">
            <div class="item">最低每月100元</div>
            <div class="item">每月财务建议</div>
          </div>
        </div>
        <div class="icon-right-container">
          <div class="angle-right"></div>
        </div>
      </div>
    </div>
    {{> ui_menu }}
  </div>
</template>
