<template name="index">
<style>
body {
  /*background-color: #f5f5f5;*/
}
</style>

 <!-- 新年通告 -->
 <!-- {{> notice_box }} -->

  <div class="index main has-ui-menu">
    <header>
     <div class="wrapper">
        <div class="utf-nav-left">
          <img src="/images/index/index_logo.png" alt="">
        </div>
        <div class="utf-nav-right">
         <a href="tel:4000663192">
           <img src="/images/kyl_phone.png?version=1" alt="">
         </a>
          <a href="/shopcart">
            {{#if shopCartNum}}
              <span class="dot">{{shopCartNum}}</span>
            {{/if}}
            <img src="/images/index/index_shopcart.png" alt="">
          </a>
        </div>
     </div>
    </header>
    <!-- banner图 -->
    {{> swipe_banners bannerImages=bannerImages}}
    <div class="PostList bridge-gray clearfix">
      <div class="main-title">
        公司注册
      </div>
    </div>

    <div class="root-module" style="margin-bottom:0">
     <div class="content">
        <div class="photo-frame">
          <img src="/images/index/index_icon_1.png" alt="">
        </div>
        <div class="segement">
          <div class="des">
            <a href="/products/registration">
              普通公司注册
            </a>
          </div>
          <div class="label-item">
            <div class="item">最快仅需7天，政策扶持高达40%</div>
          </div>
        </div>
        <div class="icon-right-container">
          <div>1元</div>
        </div>
     </div>
    </div>

    <div class="PostList bridge-gray clearfix">
      <div class="main-title">
        财税服务
      </div>
    </div>

    <div class="root-module" style="margin-bottom:0">
     <div class="content" style="border-bottom:solid 1px #ccc;">
        <div class="photo-frame">
          <img src="/images/index/index_icon_2.png" alt="">
        </div>
        <div class="segement">
          <div class="des">
            <a href="/products/finance">
              财务代理套餐
            </a>
          </div>
          <div class="label-item">
            <div class="item">会计服务全能，贴心财务管家</div>
          </div>
        </div>
        <div class="icon-right-container">
            <div class="changeline">
              <p>79
                <p style="margin-top: -19px;font-size: 18px;">元/月</p>
              </p>          
            </div>
        </div>
     </div>
    </div>

    <div class="PostList bridge-gray clearfix">
      <div class="main-title">
        银行开户
      </div>
    </div>
    <div class="root-module">
     <div class="content">
        <div class="photo-frame">
          <img src="/images/index/index_icon_3.png" alt="">
        </div>
        <div class="segement">
          <div class="des">
            <a href="/products/bank">
              银行开户
            </a>
          </div>
          <div class="label-item">
            <div class="item">专人快速办理，省时省心省力</div>
          </div>
        </div>
        <div class="icon-right-container">
            <div>0元</div>
        </div>
     </div>
    </div>
    
    <!-- copyright -->
    <div class="copyright">
        <img src="/images/index/copyright.png" alt="">
    </div>
    {{> ui_menu }}
  </div>
</template>
