<!-- 公司变更购买页面 -->
<template name="companychaAgent">
  <div id="content">
    <div class="des">
      <div class="icon">
        <img src="/images/index/index_icon_5.png" alt="">
      </div>
      <div class="tag">
        <p>公司变更服务</p>
        <p>¥ 100元/月</p>
      </div>
    </div>
    <div class="dist-content">
      <div class="piece">
        <div class="content">
        <div class="key">1、变更类型</div>
        <div class="field" id="name">
          <ul>
              <li class="{{#if $first}}selected{{/if}}" value="">公司字号变更</li>
              <li class="{{#if $first}}selected{{/if}}" value="">内容变更</li>
              <li class="{{#if $first}}selected{{/if}}" value="">变更注册地址</li>
          </ul>
        </div>
        </div>
      </div>
    </div>

  </div>
  <div class="buy-box">
      <ul>
        <li>
          <p>公司变更服务购买页面<!-- ({{typeLabel}}) --></p>
          <span style="color: #999999">应付金额：</span><span id="price">¥ 200<!-- {{payment}} --></span>
        </li>
        <li>
          <button class="btn submit">立即购买</button>
        </li>
      </ul>
    </div>
</template>
