<template name="login">
  <div class="login">
            <div class="page">
              <div class="logo"><img src="/images/logo.png?v=wechat0.0" alt="logo"></div>
              <div class="slogon"><img src="/images/slogon.png" alt="slogon"></div>
              <div class="control-box">
                <div><input type="text" class="form-control" id="phone" placeholder="手机号"></div>
                <div><input type="password" class="form-control" id="password" placeholder="密码"></div>
                <div><button type="button" class="ui btn-default" id="loginBtn" >登录</button></div>
              </div>
              <div class="link_box">
                <span><a href="/forget">忘记密码？</a></span>
                <span class="divide">｜</span>
                <span><button id="registerBtn">立即注册</button></span>
              </div>
            </div>
  </div>
</template>

<template name="register">
  <div class="register">
            <div class="page">
              <div class="logo"><img src="/images/logo.png?v=wechat0.0" alt="logo"></div>
              <div class="slogon"><img src="/images/slogon.png" alt="slogon"></div>
              <div class="control-box">
                <div><input type="text" class="form-control" id="phone" placeholder="手机号"></div>
                <div><input type="password" class="form-control" id="password" placeholder="密码"></div>
                <div class="code">
                  <input type="text" class="form-control" id="verifyCode" placeholder="验证码">
                  {{#if $eq codeTime 0}}
                    <span id="codeBtn">发送验证码</span>
                    {{else}}
                    <span>{{codeTime}}秒可再次发送</span>
                  {{/if}}
                </div>
                <div><button type="button" class="ui btn-default" id="registerBtn" >注册</button></div>
              </div>
              <div class="link_box">
                <span><a href="/login">已有帐号，立即登陆</a></span>
              </div>
            </div>
  </div>
</template>


<template name="forget">
  <div class="forget">
    <div class="page">
      <div class="logo"><img src="/images/logo.png?v=wechat0.0" alt="logo"></div>
      <div class="slogon"><img src="/images/slogon.png" alt="slogon"></div>
      <div class="control-box">
        <div><input type="text" class="form-control" id="phone" placeholder="手机帐号" value="{{currentUser.username}}"></div>
        <div><input type="password" class="form-control" id="password" placeholder="新密码"></div>
        <div class="code">
          <input type="text" class="form-control" id="verifyCode" placeholder="验证码">
          {{#if $eq codeTime 0}}
            <span id="codeBtn">发送验证码</span>
            {{else}}
            <span>{{codeTime}}秒可再次发送</span>
          {{/if}}
        </div>
        <div><button type="button" class="ui btn-default" id="resetPwdBtn" >确认</button></div>
      </div>
    </div>
  </div>
</template>
