<template name="context">
  <div class="cover-img">
    <img src="/images/banner.jpg?v=wechat" alt="">
  </div>  
  <div class="context main-container has-ui-menu">
    <div class="module">
      <div class="container">                         
        <div class="context-title">
          1.如何下单
        </div>
        <div class="context-content">
          从首页进入产品页面后，在每个产品页面下方点击“立即购买”进行结算，然后选择支付方式完成付款。
        </div>
        <div class="context-title">
          2.如何自助填写公司资料
        </div>
        <div class="context-content">
          完成公司注册的下单后，在“我的订单”页面中选择填写资料按钮。依次按照引导完成资料的填写与提交。如有不明之处可以拨打客服热线：400-066-3192
        </div>
        <div class="context-title">
          3.下单后开业啦如何服务
        </div>
        <div class="context-content">
          完成付款后，开业啦的工作人员会与您联系，一对一进行对接。
        </div>
        <div class="context-title">
          4.开业啦的服务时间
        </div>
        <div class="context-content">
          每日9：00-18：00
        </div>
        <div class="context-title">
          5.如何联系客服
        </div>
        <div class="context-content">
          可以在公众号上直接输入问题联系客服，也可以拨打客服热线：400-066-3192
        </div>
        <div class="context-title">
          6.开业啦目前服务哪些地区
        </div>
        <div class="context-content">
          开业啦目前仅支持上海地区的业务办理，其他地区请咨询客服。
        </div>
      </div>
    </div>             
    {{> ui_menu }}
  </div>
</template>

<template name="aboutus">
  <div class="cover-img">
    <img src="/images/banner.jpg?v=wechat" alt="">
  </div>  
  <div class="context main-container has-ui-menu">
    <div class="module">
      <div class="container">       
        <div class="context-title">
          开业啦          
        </div>      
        <div class="context-content">
          开业啦创办于2014年11月，由虞波和邓葛峰发起创立。<br>
          开业啦的使命是打造全国最好的企业服务平台，通过互联网技术和工具让企业服务变的更加高效透明，帮助更多的创业者去改变世界。
        </div>
        <div class="context-title">
          信念与愿景
        </div>
        <div class="context-content">
          对创业者来说最宝贵的资源就是时间和精力。<br>
          通过互联网技术和方法，我们以颠覆性的方式让公司注册、财税、商标等琐事变的前所未有的方便，<br>
          让创业者可以保持专注，最大限度的发挥自己的核心竞争力。<br>
          同样是创业者的我们最了解创业者的渴望，我们和同样心怀远大愿景的创业者站在一起，死磕到底!          
        </div>
        <div class="context-title">
          好歹有几把刷子
        </div>
        <div class="context-content">
          我们很自信，选择我们是创业者开始创业的最佳捷径。<br>
          开业啦是全国唯一一家可以为创业者提供在线自助注册公司工具的网站，只此一步，就终结了持续20多年的低效率、不透明、服务体验差的行业历史，让创业者彻底告别了繁琐的公司注册流程，只需要填写一个表格就可解决。<br>
          相比传统代办，时间节省了30%以上。<br>
          作为一家互联网公司，我们在技术、效率、用户体验上有着明显而独特的优势。<br>
          一旦接触我们，你就会发现我们与这个行业的传统机构有着巨大差异，我们用专业和高效，保障你顺利开启创业之路。<br>         
        </div>
      </div>
    </div>             
    {{> ui_menu }}
  </div>
</template>