<template name="helper">
<div class="dist helper">
  <div class="section">
    <div class="ui-content">
      <div class="dist-list-box">
        <div class="list-container">
          <div class="list">
            <div class="pull-left">
              企业名称由什么组成
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
                在线微信下单支付，方便快捷
              </div>
            </div>
          </div>
        </div>
        <div class="list-container" id="name_brand">
          <div class="list">
            <div class="pull-left">
               字号
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
                用户下单后，可在‘我的订单’中选择‘提交资料’按钮提交公司相关资料，一步到位
              </div>
            </div>
          </div>
        </div>
        
        <div class="list-container">
          <div class="list">
            <div class="pull-left">
               备选字号
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
             
              </div>
            </div>
          </div>
        </div>
                
        <div class="list-container" id="capital">
          <div class="list">
            <div class="pull-left">
               注册资本
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
             
              </div>
            </div>
          </div>
        </div>
                     
        <div class="list-container">
          <div class="list">
            <div class="pull-left">
               股东
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
             
              </div>
            </div>
          </div>
        </div>
        
        <div class="list-container" id="manager">
          <div class="list">
            <div class="pull-left">
               法人与监事
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
             
              </div>
            </div>
          </div>
        </div> 
                                                                     
        <div class="list-container" id="finance_chief">
          <div class="list">
            <div class="pull-left">
               财务负责人
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
             
              </div>
            </div>
          </div>
        </div>                                                                         
                                                                      
      </div>
    </div>
  </div>
</div>
</template>