<template name="helper">
<div class="dist helper">
  <div class="section">
    <div class="ui-content">
      <div class="dist-list-box">
        <div class="list-container">
          <div class="list">
            <div class="pull-left">
             企业全称
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
<p>企业全称由行政区域+字号+行业（经营特点）+组织形式组成。<br>
行政区域和字号的顺序可以调换 </p>
<p>
行业特点<br>
名称中的行业（经营特点）是指所要从事的主要经营项目。<br>
例如：以经营服装为主的，行业可表述为“商业”、“服装”、“贸易”等。以技术开发为主的，行业可表述为“科技”、“技术”、“科技开发”等。以经营餐饮为主的，可以表述为“餐饮”、“酒楼”等。    
</p>                                                
              </div>
            </div>
          </div>
        </div>
        <div class="list-container" id="name_brand">
          <div class="list">
            <div class="pull-left">
               字号
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
                <p>
                字号是企业名称中的一个核心要素，是企业名称中最显著和最重要的组成部分。
                </p>
                <p>
                  例：开业啦(上海)网络技术有限公司
                </p>
                <p>
                  字号填写规则：
                  <br>1.必需由汉字组成。
                  <br>2.至少需要2个汉字。
                </p>
                <p>
                  开业啦建议您字号由2个汉字组成为佳。
                </p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="list-container">
          <div class="list">
            <div class="pull-left">
               备选字号
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
<p>当首选字号审核不通过时，工商局将采用备选字号依次审核。</p>
<p>开业啦建议您备选字号按照喜好程度按序排列，工商局在审核名称时是按序审核。 </p>            
              </div>
            </div>
          </div>
        </div>
                
        <div class="list-container" id="capital">
          <div class="list">
            <div class="pull-left">
               注册资本
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
<p>注册资本也叫法定资本，是公司制企业章程规定的全体股东或发起人认缴的出资额或认购的股本总额，并在公司登记机关依法登记。</p>

<p>目前公司注册实行认缴制。<br>
认缴制:<br>
在实际注册公司中，并不需要立刻缴纳注册资本，而是首先确定一个注册资金，并在约定时间内缴纳这笔资金，并不需要在公司注册时就立刻缴纳完。<br>
认缴时间在公司章程中约定。</p>

<p>开业啦建议您认缴时间控制在5年以内为佳。</p>             
              </div>
            </div>
          </div>
        </div>
                     
        <div class="list-container">
          <div class="list">
            <div class="pull-left">
               股东
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
<p>股东是股份制公司的出资人或叫投资人。</p>
<p>股东数量建议控制在2-50人。</p>             
              </div>
            </div>
          </div>
        </div>
        
        <div class="list-container" id="manager">
          <div class="list">
            <div class="pull-left">
               法人与监事
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
                <p>法人：股东之一作为公司法定代表，享有公司决策权，一家公司只能拥有一位法人</p>

                <p>监事：每个公司须设立一位监事，可由股东之一担任，也可外聘非股东人员；1人公司，则须另外添加监事人信息。
一家公司只能拥有一位监事。</p>            
              </div>
            </div>
          </div>
        </div> 
                                                                     
        <div class="list-container" id="finance_chief">
          <div class="list">
            <div class="pull-left">
               财务负责人
            </div>
            <div class="pull-right">
              <span class="ui-icon"></span>
            </div>
          </div>
          <div class="spread-content">
            <div class="spread-army">
              <div class="text">
<p>
一家企业的财务负责人负责公司的财务管理、会计核算与监督工作。<br>
财务负责人不能是法人或监事。<br>
财务负责人可以是股东。<br>
</p>
<p>
若企业没有财务负责人可以选择开业啦的专业财务人员作为财务负责人。
</p>            
              </div>
            </div>
          </div>
        </div>                                                                         
                                                                      
      </div>
    </div>
  </div>
</div>
</template>