<template name="home">
  <div class="cover-img">
    <img src="/images/banner.jpg?v=wechat" alt="">
  </div>  
  <div class="usercenter main-container has-ui-menu">
    <div class="module">
      <div class="content">       
        <div class="single">
          常见问题    
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>                                
        </div>                        
      </div>
    </div>
    <div class="module">
      <div class="content">       
        <div class="single">
          关于我们   
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>                                   
        </div>                        
      </div>
    </div>  
    <div class="get">
      <div>
        <button class="ui btn-default" type="button">退出</button>
      </div>
    </div>           
    {{> ui_menu }}
  </div>
</template>