<template name="home">
  <div class="cover-img usercenter">
    <img src="/images/banner.jpg?v=wechat" alt="">
    <div class="set-center">
      <img src="/images/avator.png" alt="">
      <p>15044444222</p>
    </div>
  </div>  
  <div class="usercenter main-container has-ui-menu">
    <div class="module">
      <a href="/context">
      <div class="content">       
        <div class="single">
          常见问题    
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>                                
        </div>                        
      </div>
      </a>
    </div>
    <div class="module">
      <a href="/aboutus">
      <div class="content">       
        <div class="single">
          关于我们   
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>                                   
        </div>                        
      </div>
      </a>
    </div>  
    <div class="get">
      <div>
       <a href="/logout">
        <button class="ui btn-default" type="button">退出</button>
       </a>  
      </div>
    </div>           
    {{> ui_menu }}
  </div>
</template>