<template name="controlBox">
<div class="ui control-box">
 <div class="box home-box">        
   <div class="icon-box">
     <div>
       <i class="icon ui-home"></i>
     </div>
     <div>首页</div>
   </div>
 </div>
 <div class="box" id="buyBtn">
    <div class="icon-box">
       <div>
         <i class="icon ui-shopcart"></i>
       </div>
       <div>购物车</div>            
    </div>
 </div>
 <div class="box">
      <button class="ui btn-default sumbit" type="button"  data-toggle="modal" data-target="#reactive_board">立即购买</button>
 </div>
</div>  
</template>
