<template name="controlBox">
<div class="ui control-box">
 <div class="box home-box">
   <div class="icon-box">
     <div>
       <i class="icon ui-home"></i>
     </div>
   </div>
 </div>
 <div class="box" id="shopCart">
    <div class="icon-box">
       <div>
         <i class="icon ui-shopcart"></i>
       </div>
    </div>
 </div>
 {{#if directBuy}}
   <div class="box submit-box directBuy">
      立即购买
   </div>
 {{else}}
   <div class="box submit-box">
      <a href="/buyagent">立即购买</a>
   </div>
 {{/if}}
</div>
</template>
