<template name="partnership">
  <div class="main-container partnership has-ui-control-bottom">
      <div class="section title">
        <div class="inner">
          <img src="/images/partnership/title.png" alt="">
        </div>        
      </div>
      <div class="section">
        <div class="inner">
          <img src="/images/partnership/section.png" alt="">
        </div>
      </div>
      <div class="section">
        <div class="inner">
          <img src="/images/partnership/section1.png" alt="">
        </div>
      </div>
      <div class="section">
        <div class="inner">
          <img src="/images/partnership/section2.png" alt="">
        </div>
      </div>
      <div class="section">
        <div class="inner">
          <img src="/images/partnership/section3.png" alt="">
        </div>
      </div>
  </div>
  {{> controlBox directBuy="true"}}
</template>