<template name='product'>
	<div class="main main-container has-ui-control-bottom">
      <div class="board">
        <div class="cover-img">
          <img src="{{_img}}" alt="">
        </div>        
      </div>
      <div class="board">
        <div class="main-title">{{_name}}</div>
<!--        
        <div class="field">
            <div class="key">注册区域</div>
            <div class="value">注册区域</div>
        </div>
        <div class="notify">
          <div class="key">基础服务</div>
          <div class="value">基础服务</div>
        </div>
-->
<!--
        <div class="select list">
          <div class="key">选择服务</div>
          <div class="value">
            <ul>
              <li class="selected">起步型A包</li>
              <li>起步型B包</li>
              <li>起步型C包</li>
              <li>起步型D包</li>
            </ul>
          </div>
        </div>
-->        
        <div class="price">&yen;500-1000</div>
      </div>
      <div class="dist-content">
         <div class="cover-img">
            <img src="{{_des}}" alt="">
         </div>
      </div>
      {{> controlBox }}
  </div>  
  {{> UI.dynamic template=_dynamic data=product}}       
</template>


