<template name="productDes">
  {{> UI.dynamic template=_dynamic}}
  
</template>

<!-- 财务代理套餐说明 -->
<template name="financebase">
	<div class="container">
		<div class="product-intro">
			<p class="service-left">零申报</p>
			<p class="service-intro">适用于无财务往来，无记账张凭证，只需每月完成税务0申报的企业。核税需要购买CA证书(50元)和金税盘(870元)，此部分费用由税务局收取，不包含在套餐服务费内。</p>
			<p class="service-intro">
			税种核定：企业注册完成后需要企业的财务负责人和主管公司的税务专管员根据公司的实际经营特点和经营范围，正确核定企业应纳税种、税目。主要有营业税和增值税，企业所得税等。
			</p>
		</div>

		<div class="product-intro">
			<p class="service-left">普通行业套餐</p>
			<p class="service-intro">
			适用于已产生财务往来，有凭证，需要记账和申报服务的企业。
			</p>
			<p class="service-intro">
			该套餐根据企业的年收入(指企业年营业额)和凭证量(每张凭证大概可以贴10张左右的费用发票)双向标准，选较低的一项为该企业的收费标准。
			</p>
		</div>
		
		<div class="product-intro">
			<p class="service-left">特殊行业套餐</p>
			<p class="service-intro">
			适用于需要进行专项费用核算的行业财务代理服务。
			</p>
			<p class="service-intro">
			特殊行业包括：商贸、加工、高新技术、软件等加研发核算、免税行业如社团组织、行业协会、外贸企业、进出口企业、集团企业。
			</p>
		</div>
	</div>
</template>

<!-- 外勤服务项目套餐说明 -->
<template name="fieldwork">
	<div class="container">
		<div class="product-intro">
			<p class="service">外勤</p>
			<table class="product-table">
          <tr>
            <th>服务项目</th>
            <th>服务项目</th>
            <th>服务项目</th>
          </tr>
          <tr>
            <td>核税</td>
            <td rowspan="9" class="price">￥ 100元/次</td>
            <td rowspan="9" class="price">￥ 200元/次</td>
          </tr>
          <tr>
            <td>三方协议备案</td>
          </tr>
          <tr>
            <td>数字证书购买</td>
          </tr>
          <tr>
            <td>购买税控设备</td>
          </tr>
          <tr>
            <td>税控系统开通</td>
          </tr>
          <tr>
            <td>购买发票</td>
          </tr>
          <tr>
            <td>代开发票</td>
          </tr>
          <tr>
            <td>代缴税款</td>
          </tr>
          <tr>
            <td>银行单据拿取(1次/月)</td>
          </tr>
          <tr>
            <td>专管员约谈</td>
            <td rowspan="3" class="price">￥ 500元/日起</td>
            <td rowspan="3" class="price">￥ 800元/日起</td>
          </tr>
          <tr>
            <td>税务检查配合</td>
          </tr>
          <tr>
            <td>审计配合</td>
          </tr>
        </table>
		</div>

		<div class="product-intro">
			<p class="service">市郊区划分</p>
			<table class="product-table">
          <tr>
            <td style="padding: 0;">市区</td>
            <td style="padding: 0;text-align: left: ;">普陀、虹口、杨浦、长宁、浦东新区</td>
          </tr>
           <tr>
            <td style="padding: 0;">郊县</td>
            <td style="padding: 0;text-align: left: ;">浦东临港、奉贤、松江、青浦、金江、崇明</td>
          </tr>
        </table>
		</div>
		
	</div>
</template>



<!-- 代开发票说明 -->
<template name="invoiceagent">
	<div class="container">
		<div class="product-intro">
			<p class="service-left">金税盘托管</p>
			<p class="service-intro">
				服务内容：每月抄税、清卡。
			</p>
		</div>

		<div class="product-intro">
			<p class="service-left">代开发票</p>
			<p class="service-intro">
			每季度初结算该季度代开票金额，满10张赠送5张，赠送张数可自动转下个月使用，赠送张数仅可开票使用不可申请退款。
			</p>
		</div>
	</div>
</template>
