<template name="addressList">
  <div class="main-container addressList ui-board-content">
    <div class="des text-center">
      <div class="title">选择收货地址</div>
    </div>
    <div class="ui-dist-content">

      <div class="module">
        <div class="content cover">
          <div class="icon-left">
            <i class="radio icon"></i>
          </div>
          <div class="region-container">
            <div>
              <div class="segement">
                <div class="pull-left">
                  <span class="key">收货人：</span>
                </div>
                <div class="pull-left">
                  <span class="key">手机号：</span>
                </div>
              </div>
              <div class="region-content">
                <span class="key">
                收货地址:
              </span>
                <span>
              三条区三条路三条街三条门
              </span>
              </div>
            </div>
          </div>
          <div class="icon-right">
            <i class="angle right icon"></i>
          </div>

        </div>
      </div>
      
      <div class="module">
        <div class="content cover">
          <div class="icon-left">
            <i class="selected radio icon"></i>
          </div>
          <div class="region-container">
            <div>
              <div class="segement">
                <div class="pull-left">
                  <span class="key">收货人：</span>
                </div>
                <div class="pull-left">
                  <span class="key">手机号：</span>
                </div>
              </div>
              <div class="region-content">
                <span class="key">
                收货地址:
              </span>
                <span>
              三条区三条路三条街三条门
              </span>
              </div>
            </div>
          </div>
          <div class="icon-right">
            <i class="angle right icon"></i>
          </div>

        </div>
      </div>      

      <div class="get offset text-left">
        <div>
          <button class="ui btn-primary" type="button"><i class="add square icon"></i>新增收货地址</button>
        </div>
      </div>
      <div class="get">
        <div>
          <button class="ui btn-default" type="button">确认</button>
        </div>
      </div>
    </div>
  </div>
</template>