<!-- 路由 -->
<template name="form">
 <div class="main-container form {{_dynamic}}">
       {{> UI.dynamic template=_dynamic}}
 </div>
</template>

<!-- 企业名称 -->
<template name="name_segement">
  <div class="module">
    <div class="content helper">
        <span class="key">企业字号:</span>
        <input type="text">
        <span class="pull-right">
            <i class="help circle icon"></i>
        </span>
    </div>
  </div>
  <div class="module">
    <div class="content">
      <span class="key">备选字号:</span>
      <div class="box-container">
        <div><input type="text" placeholder="请输入企业字号"></div>
        <div><input type="text" placeholder="请输入企业字号"></div>
        <div><input type="text" placeholder="请输入企业字号"></div>
        <div><input type="text" placeholder="请输入企业字号"></div>
        <div><input type="text" placeholder="请输入企业字号"></div>
      </div>
    </div>
  </div>
  <div class="module">
    <div class="content">
      <span class="key">公司属性:</span>
      有限责任公司
    </div>
  </div>
  <div class="get">
    <div>
      <button class="ui btn-default" type="button">保存</button>
    </div>
  </div>
</template>

<!-- 经营范围 -->
<template name="scope_segement">
  <div class="swiper-container">
      <div class="swiper-wrapper">
          <!-- Slides -->
          {{#each pageNames}}
          <div class="swiper-slide {{name}}">{{> UI.dynamic template=name}}</div>
          {{/each}}
      </div>
  </div>
</template>

<template name="scope_segement_board">
  <div class="module" id="step">
    <div class="content">
      <div class="single">
        行业类型
        <span class="pull-right">
          <i class="angle right icon"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="module">
    <div class="content divide">
      <div class="single">
        经营范围
<!--
        <span class="pull-right">
          <i class="angle right icon"></i>
        </span>
-->
      </div>
    </div>
    <div class="content list-container divide">
        经营范围,经营范围,经营范围,经营范围,经营范围,经营范围,
        经营范围,经营范围,经营范围,经营范围,经营范围,经营范围,
        经营范围,经营范围,经营范围,经营范围,经营范围,经营范围,
        经营范围,经营范围,经营范围,经营范围,经营范围,经营范围,
    </div>
    <div class="adjust">
      <button class="ui btn-default pull-right">调整经营范围</button>
    </div>
  </div>
  <div class="get">
    <div>
      <button class="ui btn-default" type="button">保存</button>
    </div>
  </div>
</template>

<!-- 行业类型大类 -->
<template name="scope_segement_widget1">
   <div class="PostList text-center">
     <div class="main-title">
     选择行业
     </div>
   </div>
    <div class="module">
      <div class="content">
        <div class="single">
          行业类型大类a
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="module">
      <div class="content">
        <div class="single">
          行业类型大类b
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="module">
      <div class="content">
        <div class="single">
          行业类型大类c
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>
        </div>
      </div>
    </div>
</template>
<!-- 行业类型细类 -->
<template name="scope_segement_widget2">
   <div class="PostList text-center">
     <div class="main-title">选择行业类型</div>
   </div>
    <div class="module">
      <div class="content">
        <div class="single">
          选择行业类别
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>
        </div>
      </div>
    </div>
</template>
<!-- 确认经营范围 -->
<template name="scope_segement_widget3">
<div class="PostList text-center">
 <div class="main-title">确认经营范围</div>
</div>

<div class="module">
  <div class="content list-container">
    <div class="list-group-horizonal">
      <div class="list-group-item">1^
        <div class="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="list-group-item">2^
        <div class="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="list-group-item">3^
        <div class="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="list-group-item">4^
        <div class="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="list-group-item">5^
        <div class="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="list-group-item">6^
        <div class="checkbox">
          <input type="checkbox">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="get">
  <div>
    <button class="ui btn-default" type="button" id="submit">保存</button>
  </div>
</div>
</template>


<!-- 注册资金与股东信息 -->
<template name="resource_segement">
  <div class="module">
    <div class="content">
      <span class="key">注册资金（万元）: </span>
      <input type="text" placeholder="请输入注册资金">
    </div>
  </div>
  <div class="module">
    <div class="content">
      <div class="single">
        新增股东信息
        <div class="pull-right">
          <i class="add square icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="module">
    <div class="content">
      <span class="key">股东：</span>
      <span>
        <ul>
          <li><input type="text" placeholder="请输入股东姓名"></li>
          <li><input type="text" placeholder="请输入出资比例"></li>
        </ul>
      </span>
    </div>
  </div>

  <div class="get">
    <div>
      <button class="ui btn-default" type="button">保存</button>
    </div>
  </div>
</template>

<!-- 法人与监事 -->
<template name="manager_segement">
  <div class="module group">
    <div class="content">
      <span class="key">法人</span>
      <span class="dot"></span>
      <input type="text" placeholder="姓名">
    </div>
    <div class="content">
      <span class="key">身份证</span>
      <span class="dot"></span>
      <input type="text" placeholder="身份证">
    </div>
  </div>
  <div class="module group">
    <div class="content">
      <span class="key">监事</span>
      <span class="dot"></span>
      <input type="text" placeholder="姓名">
    </div>
    <div class="content">
      <span class="key">身份证</span>
      <span class="dot"></span>
      <input type="text" placeholder="身份证">
    </div>
  </div>
  <div class="get">
    <div>
      <button class="ui btn-default" type="button">保存</button>
    </div>
  </div>
</template>

<!-- 财务负责人与经办人 -->
<template name="others_segement">

  <div class="module group">
    <div class="content">
      <span class="key">财务负责人</span>
      <span class="dot"></span>
      <input type="text" placeholder="姓名">
    </div>
    <div class="content">
      <span class="key">身份证</span>
      <span class="dot"></span>
      <input type="text" placeholder="身份证">
    </div> 
    <div class="content">
      <span class="key">手机号</span>
      <span class="dot"></span>
      <input type="text" placeholder="手机号">
    </div>        
  </div>
  
  <div class="module group">
    <div class="content">
      <span class="key">企业联络人</span>
      <span class="dot"></span>
      <input type="text" placeholder="姓名">
    </div>
    <div class="content">
      <span class="key">身份证</span>
      <span class="dot"></span>
      <input type="text" placeholder="身份证">
    </div>    
    <div class="content">
      <span class="key">手机号</span>
      <span class="dot"></span>
      <input type="text" placeholder="手机号">
    </div>     
    <div class="content">
      <span class="key">邮箱</span>
      <span class="dot"></span>
      <input type="text" placeholder="邮箱">
    </div>          
  </div>  
  <div class="get">
    <div>
      <button class="ui btn-default" type="button">保存</button>
    </div>
  </div>

</template>

<template name="contractor_segement">
  <div class="module group">
    <div class="content">
      <span class="key">资料对接人</span>
      <span class="dot"></span>
      <input type="text" placeholder="姓名">
    </div>   
    <div class="content">
      <span class="key">手机号</span>
      <span class="dot"></span>
      <input type="text" placeholder="手机号">
    </div>     
    <div class="content">
      <span class="key">邮箱</span>
      <span class="dot"></span>
      <input type="text" placeholder="邮箱">
    </div>    
    <div class="content">
      <span class="key">QQ</span>
      <span class="dot"></span>
      <input type="text" placeholder="qq">
    </div>          
  </div>  
  <div class="get">
    <div>
      <button class="ui btn-default" type="button">保存</button>
    </div>
  </div>  
</template>