<!-- 路由 -->
<template name="form">
 <div class="main-container form {{_dynamic}}">
       {{> UI.dynamic template=_dynamic }}
 </div>
</template>

<!-- 企业名称 -->
<template name="name_segement">
  <div class="module">
    <div class="content helper">
        <span class="key">企业字号:</span>
        <input type="text" id="mainName" value={{companyName.mainName}}>
        <span class="pull-right">
            <i class="help circle icon"></i>
        </span>
    </div>
  </div>
  <div class="module">
    <div class="content">
      <span class="key">备选字号:</span>
      <div class="box-container" id="alternativeName">
        <div><input type="text" placeholder="备选企业字号1" value={{companyName.alternativeName1}}></div>
        <div><input type="text" placeholder="备选企业字号2" value={{companyName.alternativeName2}}></div>
        <div><input type="text" placeholder="备选企业字号3" value={{companyName.alternativeName3}}></div>
        <div><input type="text" placeholder="备选企业字号4" value={{companyName.alternativeName4}}></div>
        <div><input type="text" placeholder="备选企业字号5" value={{companyName.alternativeName5}}></div>
      </div>
    </div>
  </div>
  <div class="module">
    <div class="content">
      <span class="key">公司属性:</span>
      有限责任公司
    </div>
  </div>
  <div class="get">
    <div>
      <button class="ui btn-default" type="button" id='saveBtn'>保存</button>
    </div>
  </div>
</template>

<!-- 经营范围 -->
<template name="scope_segement">
  <div class="swiper-container">
      <div class="swiper-wrapper">
          <!-- Slides -->
            {{#each pageNames}}
                <div class="swiper-slide {{name}}">{{> UI.dynamic template=name data=data}}</div>
            {{/each}}
          
      </div>
  </div>
</template>

<template name="scope_segement_board">
  <div class="module" id="step">
    <div class="content">
      <div class="single">
        行业类型
        <span class="pull-right">
          <span class="default-right">
            {{industryBigStr industryBig}}
            {{industrySmallStr industrySmall}}
          </span>
          <i class="angle right icon"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="module">
    <div class="content divide">
      <div class="single">
        经营范围
<!--
        <span class="pull-right">
          <i class="angle right icon"></i>
        </span>
-->
      </div>
    </div>
    {{#if scopeStr businessScope}}
    <div class="content list-container divide">
        {{scopeStr businessScope}}
    </div>
    {{/if}}

    <div class="adjust">
      <button class="ui btn-default pull-right" id="exchangeBtn">调整经营范围</button>
    </div>
  </div>
  <div class="get">
    <div>
      <button class="ui btn-default" type="button" id="saveBtn">保存</button>
    </div>
  </div>
</template>

<!-- 行业类型大类 -->
<template name="scope_segement_widget1">
   <div class="PostList text-center">
     <div class="main-title">
     选择行业
     </div>
   </div>
  {{#each compTypBase}}
    <div class="module">
      <div class="content">
        <div class="single">
          {{name}}
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>
        </div>
      </div>
    </div>
  {{/each}}
</template>

<!-- 行业类型细类 -->
<template name="scope_segement_widget2">
   <div class="PostList text-center">
     <div class="main-title">选择行业类型</div>
   </div>
   {{#each compTypDetail}}
     <div class="module">
        <div class="content">
          <div class="single">
            {{industrySmall}}
            <span class="pull-right">
              <i class="angle right icon"></i>
            </span>
          </div>
        </div>
      </div>
   {{/each}}
</template>

<!-- 调整经营范围 -->
<template name="exchangeScopeSegement">
   <div class="PostList text-center">
     <div class="main-title">
     选择行业
     </div>
   </div>     
    <div class="ui-tab">
      {{#each $mapped scopeChange}}
        <div class="{{#if $first}}left-tab active{{else}}right-tab{{/if}} tab" >
          <a href="#box_tab{{$index}}" data-toggle="tab">{{businessBig}}</a> 
        </div>
      {{/each}}
    </div>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="box_tab0">
          {{#each businessSmall_0}}
            <div class="module">
              <div class="content">
                <div class="single">
                  {{cate}}
                  <span class="pull-right">
                    <i class="angle right icon"></i>
                  </span>
                </div>
              </div>
            </div>
          {{/each}}
      </div>
      <div class="tab-pane fade" id="box_tab1">
          {{#each businessSmall_1}} 
            <div class="module">
              <div class="content">
                <div class="single">
                  {{cate}}
                  <span class="pull-right">
                    <i class="angle right icon"></i>
                  </span>
                </div>
              </div>
            </div>
          {{/each}}
      </div> 
    </div>             
</template>

<!-- 确认经营范围 -->
<template name="scope_segement_widget3">
  <div class="PostList text-center">
   <div class="main-title">确认经营范围</div>
  </div>

  <div class="module">
    <div class="content list-container">
      <div class="list-group-horizonal">
        {{#each scopes}}
          <div class="list-group-item">{{this}}
            <div class="checkbox">
              <input type="checkbox" value="{{this}}">
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="get">
    <div>
      <button class="ui btn-default" type="button" id="submitBtn">保存</button>
    </div>
  </div>
</template>


<!-- 注册资金与股东信息 -->
<template name="resource_segement">
  <div class="module">
    <div class="content">
      <span class="key">注册资金（万元）: </span>
      <input type="text" placeholder="请输入注册资金" id="money" value={{companyMoney}}>
    </div>
  </div>
  <div class="module" id="plus">
    <div class="content">
      <div class="single">
        新增股东信息
        <div class="pull-right">
          <i class="add square icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div id="plus-content">
    {{#each holders}}
      {{> shockhoderInputBundle}}
    {{/each}}
  </div>
  <div class="get">
    <div>
      <button class="ui btn-default" type="button" id="saveBtn">保存</button>
    </div>
  </div>
</template>

<template name="shockhoderInputBundle">
   <div class="module">
    <div class="content block clearfix">
      <span class="key pull-left">股东：</span>
      <span class="pull-left">
        <ul>
          <li><input type="text" placeholder="请输入股东姓名"></li>
          <li><input type="text" placeholder="请输入出资比例"></li>
        </ul>
      </span>
      <div class="pull-right">
        <i class="trash icon outline default"></i>
      </div>      
    </div>
  </div> 
</template>
<!-- 法人与监事 -->
<template name="manager_segement">
  <div class="module group">
    <div class="content">
      <span class="key">法人</span>
      <span class="dot"></span>
      <input type="text" placeholder="姓名" id="legalPersonName" value={{legalPerson.legalPersonName}}>
    </div>
    <div class="content">
      <span class="key">身份证</span>
      <span class="dot"></span>
      <input type="text" placeholder="身份证" id="legalPersonId" value="{{legalPerson.legalPersonId}}">
    </div>
  </div>
  <div class="module group">
    <div class="content">
      <span class="key">监事</span>
      <span class="dot"></span>
      <input type="text" placeholder="姓名" id="supervisorName" value="{{supervisor.supervisorName}}">
    </div>
    <div class="content">
      <span class="key">身份证</span>
      <span class="dot"></span>
      <input type="text" placeholder="身份证" id="supervisorId" value="{{supervisor.supervisorId}}">
    </div>
  </div>
  <div class="get">
    <div>
      <button class="ui btn-default" type="button" id="saveBtn">保存</button>
    </div>
  </div>
</template>

<!-- 财务负责人与经办人 -->
<template name="others_segement">

  <div class="module group">
    <div class="content">
      <span class="key">财务负责人</span>
      <span class="dot"></span>
      <input type="text" placeholder="姓名" id="finaName" value="{{contractor.financialStaff.financialStaffName}}">
    </div>
    <div class="content">
      <span class="key">身份证</span>
      <span class="dot"></span>
      <input type="text" placeholder="身份证" id="finaId" value="{{contractor.financialStaff.financialStaffId}}">
    </div> 
    <div class="content">
      <span class="key">手机号</span>
      <span class="dot"></span>
      <input type="text" placeholder="手机号" id="finaPhone" value="{{contractor.financialStaff.financialStaffPhone}}">
    </div>
    <div class="content">
      <span class="key">邮箱</span>
      <span class="dot"></span>
      <input type="text" placeholder="邮箱" id="finaEmail" value="{{contractor.financialStaff.financialStaffEmail}}">
    </div>         
  </div>
  
  <div class="module group">
    <div class="content">
      <span class="key">企业联络人</span>
      <span class="dot"></span>
      <input type="text" placeholder="姓名" id="liaName" value="{{contractor.liaisons.liaisonsName}}">
    </div>
    <div class="content">
      <span class="key">身份证</span>
      <span class="dot"></span>
      <input type="text" placeholder="身份证" id="liaId" value="{{contractor.liaisons.liaisonsId}}">
    </div>    
    <div class="content">
      <span class="key">手机号</span>
      <span class="dot"></span>
      <input type="text" placeholder="手机号" id="liaPhone" value="{{contractor.liaisons.liaisonsPhone}}">
    </div>     
    <div class="content">
      <span class="key">邮箱</span>
      <span class="dot"></span>
      <input type="text" placeholder="邮箱" id="liaEmail" value="{{contractor.liaisons.liaisonsEmail}}">
    </div>          
  </div>  
  <div class="get">
    <div>
      <button class="ui btn-default" type="button" id="saveBtn">保存</button>
    </div>
  </div>
</template>

<!-- 资料对接人 -->
<template name="contractor_segement">
  <div class="module group">
    <div class="content">
      <span class="key">资料对接人</span>
      <span class="dot"></span>
      <input type="text" placeholder="姓名" id="consName" value="{{consigner.consignerName}}">
    </div>   
    <div class="content">
      <span class="key">手机号</span>
      <span class="dot"></span>
      <input type="text" placeholder="手机号" id="consPhone" value="{{consigner.consignerPhone}}">
    </div>     
    <div class="content">
      <span class="key">邮箱</span>
      <span class="dot"></span>
      <input type="text" placeholder="邮箱" id="consEmail" value="{{consigner.consignerEmail}}">
    </div>    
    <div class="content">
      <span class="key">Q&nbsp;&nbsp;&nbsp;Q</span>
      <span class="dot"></span>
      <input type="text" placeholder="(建议填写)" id="consQQ" value="{{consigner.consignerQQ}}">
    </div>          
  </div>  
  <div class="get">
    <div>
      <button class="ui btn-default" type="button" id="saveBtn">保存</button>
    </div>
  </div>  
</template>