<template name="companyInfo">
  <div class="ui list main-container has-ui-control-bottom">
    <div class="module">
      <div class="content">       
        <div class="single">
          填写公司字号              
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>
          <span class="pull-right done">
            <i class="check circle icon"></i>
          </span>            
        </div>                        
      </div>
    </div>
    <div class="module">
      <div class="content">       
        <div class="single">
          确认行业与经营范围              
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>
          <span class="pull-right">
            <i class="check circle icon"></i>
          </span>            
        </div>                        
      </div>
    </div>  
    <div class="module">
      <div class="content">       
        <div class="single">
          确认注册资金与股东              
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>
          <span class="pull-right">
            <i class="check circle icon"></i>
          </span>            
        </div>                        
      </div>
    </div> 
    <div class="module">
      <div class="content">       
        <div class="single">
          确认法人与监事信息              
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>
          <span class="pull-right">
            <i class="check circle icon"></i>
          </span>            
        </div>                        
      </div>
    </div>  
    <div class="module">
      <div class="content">       
        <div class="single">
          确认财务负责人              
          <span class="pull-right">
            <i class="angle right icon"></i>
          </span>
          <span class="pull-right">
            <i class="check circle icon"></i>
          </span>            
        </div>                        
      </div>
    </div>                   
    <div class="content text-center">
      所有项填写完整才可进行下一步
    </div> 
    <div class="ui control-box single">
<!--      <button class="ui btn-primary control" type="button">预览</button>-->
      <button class="ui btn-default control" type="button">下一步</button>      
    </div>                   
  </div>
</template>